header
  h1: a(href="http://louisrawlins.com/"): img(src="images/logotype-500_110.png", alt="Louis Rawlins", title="Louis Rawlins")
  nav
    ul
      li: a(href="http://louisrawlins.com/blog") Blog
      li.active Portfolio
      li: a(href="http://louisrawlins.com/resume") Resume
      li: a(href="http://louisrawlins.com/contact") Contact
#mainContent
  article
    section
      h1 User experience, front-end development and interactive media work
      p 
        | <em>Louis Rawlins,</em> <a href="mailto:email@louisrawlins.com">email@louisrawlins.com</a><br>
        | All materials copyright and confidential for each client
    section#kp
      h1 Kaiser Permanente (2011)
      // === Portfolio entry. ============
      dl#kp-prf
        dt <em>Patient Room Update</em>
        dd Lead team with user experience, project definition and equipment requirements for developers and related interest groups within Kaiser.
        dd.gallery
          | <a href="galleries/kp/patient_room-01.jpg" rel="lightbox[patientRoom]" title="Patient Room: Roadmap 1"><img class="thumb" src="galleries/kp/patient_room-01.jpg" /></a>
          | <a href="galleries/kp/patient_room-02.jpg" rel="lightbox[patientRoom]" title="Patient Room: Roadmap 2"><img class="thumb" src="galleries/kp/patient_room-02.jpg" /></a>
          | <a href="galleries/kp/patient_room-03.jpg" rel="lightbox[patientRoom]" title="Patient Room: Roadmap 3"><img class="thumb" src="galleries/kp/patient_room-03.jpg" /></a>
          | <a href="galleries/kp/patient_room-04.jpg" rel="lightbox[patientRoom]" title="Patient Room: Project 1"><img class="thumb" src="galleries/kp/patient_room-04.jpg" /></a>
          | <a href="galleries/kp/patient_room-05.jpg" rel="lightbox[patientRoom]" title="Patient Room: Project 2"><img class="thumb" src="galleries/kp/patient_room-05.jpg" /></a>
          | <a href="galleries/kp/patient_room-06.jpg" rel="lightbox[patientRoom]" title="Patient Room: Project 3"><img class="thumb" src="galleries/kp/patient_room-06.jpg" /></a>
      // === Portfolio entry. ============
      dl#kp-iat
        dt <em>Digital Storytelling</em>
        dd Synthesized work from desgin session for interactive media digital wall.
        dd.gallery
          | <a href="galleries/kp/digital_storytelling-01.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Persona 1"><img class="thumb" src="galleries/kp/digital_storytelling-01.jpg" /></a>
          | <a href="galleries/kp/digital_storytelling-02.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Persona 2"><img class="thumb" src="galleries/kp/digital_storytelling-02.jpg" /></a>
          | <a href="galleries/kp/digital_storytelling-03.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Persona 3"><img class="thumb" src="galleries/kp/digital_storytelling-03.jpg" /></a>
          | <a href="galleries/kp/digital_storytelling-04.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Storyboards 1"><img class="thumb" src="galleries/kp/digital_storytelling-04.jpg" /></a>
          | <a href="galleries/kp/digital_storytelling-05.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Storyboards 2"><img class="thumb" src="galleries/kp/digital_storytelling-05.jpg" /></a>
          | <a href="galleries/kp/digital_storytelling-06.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Storyboards 3"><img class="thumb" src="galleries/kp/digital_storytelling-06.jpg" /></a>
      // === Portfolio entry. ============
      dl#kp-mc
        dt <em>iOS Prototype App</em>
        dd Developed user experience, implemented HTML, CSS and JS using jQuery Mobile an PhoneGap for iOS (iPhone, iPad, Android).
        dd.gallery
          | <a href="galleries/kp/ios-app-01.jpg" rel="lightbox[iosApp]" title="iOS App: Persona"><img class="thumb" src="galleries/kp/ios-app-01.jpg" /></a>
          | <a href="galleries/kp/ios-app-02.jpg" rel="lightbox[iosApp]" title="iOS App: Splash"><img class="thumb" src="galleries/kp/ios-app-02.jpg" /></a>
          | <a href="galleries/kp/ios-app-03.jpg" rel="lightbox[iosApp]" title="iOS App: Sign up 1"><img class="thumb" src="galleries/kp/ios-app-03.jpg" /></a>
          | <a href="galleries/kp/ios-app-04.jpg" rel="lightbox[iosApp]" title="iOS App: Sign up 2"><img class="thumb" src="galleries/kp/ios-app-04.jpg" /></a>
          | <a href="galleries/kp/ios-app-05.jpg" rel="lightbox[iosApp]" title="iOS App: Sign up 3"><img class="thumb" src="galleries/kp/ios-app-05.jpg" /></a>
          | <a href="galleries/kp/ios-app-06.jpg" rel="lightbox[iosApp]" title="iOS App: Actions 1"><img class="thumb" src="galleries/kp/ios-app-06.jpg" /></a>
          | <a href="galleries/kp/ios-app-07.jpg" rel="lightbox[iosApp]" title="iOS App: Actions 2"><img class="thumb" src="galleries/kp/ios-app-07.jpg" /></a>
          | <a href="galleries/kp/ios-app-08.jpg" rel="lightbox[iosApp]" title="iOS App: Actions 3"><img class="thumb" src="galleries/kp/ios-app-08.jpg" /></a>
          | <a href="galleries/kp/ios-app-09.jpg" rel="lightbox[iosApp]" title="iOS App: Photos 1"><img class="thumb" src="galleries/kp/ios-app-09.jpg" /></a>
          | <a href="galleries/kp/ios-app-10.jpg" rel="lightbox[iosApp]" title="iOS App: Photos 2"><img class="thumb" src="galleries/kp/ios-app-10.jpg" /></a>
          | <a href="galleries/kp/ios-app-11.jpg" rel="lightbox[iosApp]" title="iOS App: Profile"><img class="thumb" src="galleries/kp/ios-app-11.jpg" /></a>
      // === Portfolio entry. ============
      dl#kp-stat
        dt <em>Web Application</em>
        dd Developed wireframes and documentation.
        dd.gallery
          | <a href="galleries/kp/stat-layouts-20110224-03-01.jpg" rel="lightbox[webApp]" title="Web Application: Wireframe 1"><img class="thumb" src="galleries/kp/stat-layouts-20110224-03-01.jpg" /></a>
          | <a href="galleries/kp/stat-layouts-20110224-03-02.jpg" rel="lightbox[webApp]" title="Web Application: Wireframe 2"><img class="thumb" src="galleries/kp/stat-layouts-20110224-03-02.jpg" /></a>
          | <a href="galleries/kp/stat-layouts-20110224-03-03.jpg" rel="lightbox[webApp]" title="Web Application: Wireframe 3"><img class="thumb" src="galleries/kp/stat-layouts-20110224-03-03.jpg" /></a>
          | <a href="galleries/kp/stat-layouts-20110224-03-04.jpg" rel="lightbox[webApp]" title="Web Application: Wireframe 4"><img class="thumb" src="galleries/kp/stat-layouts-20110224-03-04.jpg" /></a>
          | <a href="galleries/kp/stat-layouts-20110224-03-05.jpg" rel="lightbox[webApp]" title="Web Application: Wireframe 5"><img class="thumb" src="galleries/kp/stat-layouts-20110224-03-05.jpg" /></a><br>
          | <a href="galleries/kp/stat-site_visits-20110301-01-01.jpg" rel="lightbox[webApp]" title="Web Application: Documentation 1"><img class="thumb" src="galleries/kp/stat-site_visits-20110301-01-01.jpg" /></a>
          | <a href="galleries/kp/stat-site_visits-20110301-01-02.jpg" rel="lightbox[webApp]" title="Web Application: Documentation 1"><img class="thumb" src="galleries/kp/stat-site_visits-20110301-01-02.jpg" /></a>
    section#chai_labs
      h1 Chai Labs (MovieZen, 2009)
      // === Portfolio entry. ============
      dl
        dt <em>Templates for Vertical Market Website</em>
        dd Created large CSS framework and content management system in PHP and JS for producing layouts. Implementation example below.
        dd.example <a href="http://www.moviezen.com/">MovieZen</a>
        dd.gallery
          | <a href="galleries/moviezen/moviezen-template-a.png" rel="lightbox[moviezen]" title="Layout Template A"><img class="thumb" src="galleries/moviezen/moviezen-template-a.png" /></a>
          | <a href="galleries/moviezen/moviezen-template-a1.png" rel="lightbox[moviezen]" title="Layout Template A1"><img class="thumb" src="galleries/moviezen/moviezen-template-a1.png" /></a>
          | <a href="galleries/moviezen/moviezen-template-a2.png" rel="lightbox[moviezen]" title="Layout Template A2"><img class="thumb" src="galleries/moviezen/moviezen-template-a2.png" /></a>
          | <a href="galleries/moviezen/moviezen-template-d.png" rel="lightbox[moviezen]" title="Layout Template D"><img class="thumb" src="galleries/moviezen/moviezen-template-d.png" /></a>
          | <a href="galleries/moviezen/moviezen-template-d1.png" rel="lightbox[moviezen]" title="Layout Template D1"><img class="thumb" src="galleries/moviezen/moviezen-template-d1.png" /></a>
          | <a href="galleries/moviezen/moviezen-template-d2.png" rel="lightbox[moviezen]" title="Layout Template D2"><img class="thumb" src="galleries/moviezen/moviezen-template-d2.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-01a.png" rel="lightbox[moviezen]" title="Layout Example 1A"><img class="thumb" src="galleries/moviezen/moviezen-example-01a.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-01b.png" rel="lightbox[moviezen]" title="Layout Example 1B"><img class="thumb" src="galleries/moviezen/moviezen-example-01b.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-01c.png" rel="lightbox[moviezen]" title="Layout Example 1C"><img class="thumb" src="galleries/moviezen/moviezen-example-01c.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-02a.png" rel="lightbox[moviezen]" title="Layout Example 2A"><img class="thumb" src="galleries/moviezen/moviezen-example-02a.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-02b.png" rel="lightbox[moviezen]" title="Layout Example 2B"><img class="thumb" src="galleries/moviezen/moviezen-example-02b.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-02c.png" rel="lightbox[moviezen]" title="Layout Example 2C"><img class="thumb" src="galleries/moviezen/moviezen-example-02c.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-03a.png" rel="lightbox[moviezen]" title="Layout Example 3A"><img class="thumb" src="galleries/moviezen/moviezen-example-03a.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-03b.png" rel="lightbox[moviezen]" title="Layout Example 3B"><img class="thumb" src="galleries/moviezen/moviezen-example-03b.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-03c.png" rel="lightbox[moviezen]" title="Layout Example 3C"><img class="thumb" src="galleries/moviezen/moviezen-example-03c.png" /></a>
    section#duffel
      h1 Duffel (2010)
      // === Portfolio entry. ============
      dl
        dt <em>Wireframes and Designs</em>
        dd Wireframed, designed and implemented HTML, CSS and Ruby on Rails views.
        dd.gallery
          | <a href="galleries/duffel/dashboard-20100318-1.jpg" rel="lightbox[duffel]" title="Dashboard Wireframe"><img class="thumb" src="galleries/duffel/dashboard-20100318-1.jpg" /></a>
          | <a href="galleries/duffel/dashboard-A-20100329-1.jpg" rel="lightbox[duffel]" title="Dashboard Design 1"><img class="thumb" src="galleries/duffel/dashboard-A-20100329-1.jpg" /></a><br>
          | <a href="galleries/duffel/dashboard-A-20100329-2.jpg" rel="lightbox[duffel]" title="Dashboard Design 2"><img class="thumb" src="galleries/duffel/dashboard-A-20100329-2.jpg" /></a>
          | <a href="galleries/duffel/dashboard-A-20100402-1.jpg" rel="lightbox[duffel]" title="Dashboard Design 3"><img class="thumb" src="galleries/duffel/dashboard-A-20100402-1.jpg" /></a>
    section#symbiosis
      h1 Symbiosis (2010)
      // === Portfolio entry. ============
      dl
        dt <em>Personas, Sitemaps and Wireframes</em>
        dd Created user experience and graphic design.
        dd.gallery
          | <a href="galleries/symbiosis/symbiosis-persona-emily-20101012-02.jpg" rel="lightbox[symbiosis]" title="Persona: Emily"><img class="thumb" src="galleries/symbiosis/symbiosis-persona-emily-20101012-02.jpg" /></a>
          | <a href="galleries/symbiosis/symbiosis-persona-hiro-20101012-03.jpg" rel="lightbox[symbiosis]" title="Persona: Hiro"><img class="thumb" src="galleries/symbiosis/symbiosis-persona-hiro-20101012-03.jpg" /></a>
          | <a href="galleries/symbiosis/symbiosis-persona-peter-20101012-02.jpg" rel="lightbox[symbiosis]" title="Persona: Peter"><img class="thumb" src="galleries/symbiosis/symbiosis-persona-peter-20101012-02.jpg" /></a>
          | <a href="galleries/symbiosis/symbiosis-persona-ryan-20101012-03.jpg" rel="lightbox[symbiosis]" title="Persona: Ryan"><img class="thumb" src="galleries/symbiosis/symbiosis-persona-ryan-20101012-03.jpg" /></a>
          | <a href="galleries/symbiosis/symbiosis-sitemap-20101014-01.jpg" rel="lightbox[symbiosis]" title="Sitemap 1"><img class="thumb" src="galleries/symbiosis/symbiosis-sitemap-20101014-01.jpg" /></a>
          | <a href="galleries/symbiosis/symbiosis-sitemap-20101020-01.jpg" rel="lightbox[symbiosis]" title="Sitemap 2"><img class="thumb" src="galleries/symbiosis/symbiosis-sitemap-20101020-01.jpg" /></a>
          | <a href="galleries/symbiosis/symbiosis-wireframe-homepage-20101113-01.jpg" rel="lightbox[symbiosis]" title="Wireframe: Homepage"><img class="thumb" src="galleries/symbiosis/symbiosis-wireframe-homepage-20101113-01.jpg" /></a>
          | <a href="galleries/symbiosis/symbiosis-wireframe-mixes-20101113-01.jpg" rel="lightbox[symbiosis]" title="Wireframe: Mixes"><img class="thumb" src="galleries/symbiosis/symbiosis-wireframe-mixes-20101113-01.jpg" /></a>
          | <a href="galleries/symbiosis/symbiosis-wireframe-articles-20101113-01.jpg" rel="lightbox[symbiosis]" title="Wireframe: Articles"><img class="thumb" src="galleries/symbiosis/symbiosis-wireframe-articles-20101113-01.jpg" /></a>
          | <a href="galleries/symbiosis/symbiosis-wireframe-article-20101113-01.jpg" rel="lightbox[symbiosis]" title="Wireframe: Article"><img class="thumb" src="galleries/symbiosis/symbiosis-wireframe-article-20101113-01.jpg" /></a>
          | <a href="galleries/symbiosis/symbiosis-wireframe-contentList-20101113-01.jpg" rel="lightbox[symbiosis]" title="Wireframe: Content List"><img class="thumb" src="galleries/symbiosis/symbiosis-wireframe-contentList-20101113-01.jpg" /></a>
          | <a href="galleries/symbiosis/symbiosis-wireframe-about-20101113-01.jpg" rel="lightbox[symbiosis]" title="Wireframe: About"><img class="thumb" src="galleries/symbiosis/symbiosis-wireframe-about-20101113-01.jpg" /></a>
    section#isolina
      h1 Isolina (2006)
      // === Portfolio entry. ============
      dl
        dt <em>Interactive Media Production</em>
        dd Authored and produced interactive art installation.
        dd.gallery
          | <a href="galleries/isolina/isolina-install-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 1"><img class="thumb" src="galleries/isolina/isolina-install-01.jpg" /></a>
          | <a href="galleries/isolina/isolina-install-02.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 2"><img class="thumb" src="galleries/isolina/isolina-install-02.jpg" /></a>
          | <a href="galleries/isolina/isolina-install-03.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 3"><img class="thumb" src="galleries/isolina/isolina-install-03.jpg" /></a>
          | <a href="galleries/isolina/isolina-install-04.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 4"><img class="thumb" src="galleries/isolina/isolina-install-04.jpg" /></a>
          | <a href="galleries/isolina/isolina-install-05.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 5"><img class="thumb" src="galleries/isolina/isolina-install-05.jpg" /></a><br>
          | <a href="galleries/isolina/isolina-story-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Story"><img class="thumb" src="galleries/isolina/isolina-story-01.jpg" /></a>
          | <a href="galleries/isolina/isolina-seq-02.png" rel="lightbox[isolinaInstall]" title="Isolina: Sequence 1"><img class="thumb" src="galleries/isolina/isolina-seq-02.png" /></a>
          | <a href="galleries/isolina/isolina-seq-03.png" rel="lightbox[isolinaInstall]" title="Isolina: Sequence 2"><img class="thumb" src="galleries/isolina/isolina-seq-03.png" /></a>
          | <a href="galleries/isolina/isolina-render-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 1"><img class="thumb" src="galleries/isolina/isolina-render-01.jpg" /></a>
          | <a href="galleries/isolina/isolina-render-02.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 2"><img class="thumb" src="galleries/isolina/isolina-render-02.jpg" /></a>
          | <a href="galleries/isolina/isolina-render-03.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 3"><img class="thumb" src="galleries/isolina/isolina-render-03.jpg" /></a>
          | <a href="galleries/isolina/isolina-render-04.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 4"><img class="thumb" src="galleries/isolina/isolina-render-04.jpg" /></a>
          | <a href="galleries/isolina/isolina-install-00.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Installation"><img class="thumb" src="galleries/isolina/isolina-install-00.jpg" /></a>
footer
  .revisions: em Updated 18 March 2012
  .copyright All materials copyright and confidential for each client<br> 2012, <a href="mailto:email@louisrawlins.com">Louis Rawlins</a>
