header
  h1: a(href="http://louisrawlins.com/"): img(src="images/logotype-500_110.png", alt="Louis Rawlins", title="Louis Rawlins")
  nav
    ul
      li: a(href="http://louisrawlins.com/blog") Blog
      li.active Portfolio
      li: a(href="http://louisrawlins.com/resume") Resume
      li: a(href="http://louisrawlins.com/contact") Contact
#mainContent
  article
    section
      h1 Portfolio
        p Below is a selection of work by Louis Rawlins (<a href="mailto:email@louisrawlins.com">email@louisrawlins.com</a>).
    section
      h1 Kaiser Permanente (2011)
      // === Portfolio entry. ============
      dl
        dt <em>Patient Room Update</em>
        dd
          | <a href="galleries/kp/patient_room-01.jpg" rel="lightbox[patientRoom]" title="Patient Room: Roadmap 1" class="gallery">Kaiser Permanente: Patient Room Work</a>
          | <a href="galleries/kp/patient_room-02.jpg" rel="lightbox[patientRoom]" title="Patient Room: Roadmap 2" class="hide">Patient Room Work: Roadmap 2</a>
          | <a href="galleries/kp/patient_room-03.jpg" rel="lightbox[patientRoom]" title="Patient Room: Roadmap 3" class="hide">Patient Room Work: Roadmap 3</a>
          | <a href="galleries/kp/patient_room-04.jpg" rel="lightbox[patientRoom]" title="Patient Room: Project 1" class="hide">Patient Room Work: Project 1</a>
          | <a href="galleries/kp/patient_room-05.jpg" rel="lightbox[patientRoom]" title="Patient Room: Project 2" class="hide">Patient Room Work: Project 2</a>
          | <a href="galleries/kp/patient_room-06.jpg" rel="lightbox[patientRoom]" title="Patient Room: Project 3" class="hide">Patient Room Work: Project 3</a>
        dd Lead team with user experience, project definition and equipment requirements for developers and related interest groups within Kaiser.
      // === Portfolio entry. ============
      dl
        dt <em>Digital Storytelling</em>
        dd
          | <a href="galleries/kp/digital_storytelling-01.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Persona 1" class="gallery">Kaiser Permanente: Interactive Media Storyboards</a>
          | <a href="galleries/kp/digital_storytelling-02.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Persona 2" class="hide">Digital Storytelling: Persona 2</a>
          | <a href="galleries/kp/digital_storytelling-03.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Persona 3" class="hide">Digital Storytelling: Persona 3</a>
          | <a href="galleries/kp/digital_storytelling-04.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Storyboards 1" class="hide">Digital Storytelling: Storyboards 1</a>
          | <a href="galleries/kp/digital_storytelling-05.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Storyboards 2" class="hide">Digital Storytelling: Storyboards 2</a>
          | <a href="galleries/kp/digital_storytelling-06.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Storyboards 3" class="hide">Digital Storytelling: Storyboards 3</a>
        dd Synthesized work from desgin session for interactive media digital wall.
      // === Portfolio entry. ============
      dl
        dt <em>iOS Prototype App</em>
        dd
          | <a href="galleries/kp/ios-app-01.jpg" rel="lightbox[iosApp]" title="iOS App: Persona" class="gallery">Kaiser Permanente: iOS App Work</a>
          | <a href="galleries/kp/ios-app-02.jpg" rel="lightbox[iosApp]" title="iOS App: Splash" class="hide">iOS App: Splash</a>
          | <a href="galleries/kp/ios-app-03.jpg" rel="lightbox[iosApp]" title="iOS App: Sign up 1" class="hide">iOS App: Sign up 1</a>
          | <a href="galleries/kp/ios-app-04.jpg" rel="lightbox[iosApp]" title="iOS App: Sign up 2" class="hide">iOS App: Sign up 2</a>
          | <a href="galleries/kp/ios-app-05.jpg" rel="lightbox[iosApp]" title="iOS App: Sign up 3" class="hide">iOS App: Sign up 3</a>
          | <a href="galleries/kp/ios-app-06.jpg" rel="lightbox[iosApp]" title="iOS App: Actions 1" class="hide">iOS App: Actions 1</a>
          | <a href="galleries/kp/ios-app-07.jpg" rel="lightbox[iosApp]" title="iOS App: Actions 2" class="hide">iOS App: Actions 2</a>
          | <a href="galleries/kp/ios-app-08.jpg" rel="lightbox[iosApp]" title="iOS App: Actions 3" class="hide">iOS App: Actions 3</a>
          | <a href="galleries/kp/ios-app-09.jpg" rel="lightbox[iosApp]" title="iOS App: Photos 1" class="hide">iOS App: Photos 1</a>
          | <a href="galleries/kp/ios-app-10.jpg" rel="lightbox[iosApp]" title="iOS App: Photos 2" class="hide">iOS App: Photos 2</a>
          | <a href="galleries/kp/ios-app-11.jpg" rel="lightbox[iosApp]" title="iOS App: Profile" class="hide">iOS App: Profile</a>
        dd Developed user experience, implemented HTML, CSS and JS using jQuery Mobile an PhoneGap for iOS (iPhone, iPad, Android).
      // === Portfolio entry. ============
      dl
        dt <em>Web Application</em>
        dd
          | <a href="galleries/kp/stat-layouts-20110224-03-01.jpg" rel="lightbox[webApp]" title="Web Application: Wireframe 1" class="gallery">Kaiser Permanante: Web Application Work</a>
          | <a href="galleries/kp/stat-layouts-20110224-03-02.jpg" rel="lightbox[webApp]" title="Web Application: Wireframe 2" class="hide">Web Application: Wireframe 2</a>
          | <a href="galleries/kp/stat-layouts-20110224-03-03.jpg" rel="lightbox[webApp]" title="Web Application: Wireframe 3" class="hide">Web Application: Wireframe 3</a>
          | <a href="galleries/kp/stat-layouts-20110224-03-04.jpg" rel="lightbox[webApp]" title="Web Application: Wireframe 4" class="hide">Web Application: Wireframe 4</a>
          | <a href="galleries/kp/stat-layouts-20110224-03-05.jpg" rel="lightbox[webApp]" title="Web Application: Wireframe 5" class="hide">Web Application: Wireframe 5</a>
          | <a href="galleries/kp/stat-site_visits-20110301-01-01.jpg" rel="lightbox[webApp]" title="Web Application: Documentation 1" class="hide">Web Application: Documentation 1</a>
          | <a href="galleries/kp/stat-site_visits-20110301-01-02.jpg" rel="lightbox[webApp]" title="Web Application: Documentation 1" class="hide">Web Application: Documentation 2</a>
        dd Developed wireframes and documentation.
    section
      h1 Chai Labs (MovieZen, 2009)
      // === Portfolio entry. ============
      dl
        dt <em>Templates for Vertical Market Website</em>
        dd
          | <a href="galleries/moviezen/moviezen-template-a.png" rel="lightbox[moviezen]" title="Layout Template A" class="gallery">Chai Labs (MovieZen) Work</a>
          | <a href="galleries/moviezen/moviezen-template-a1.png" rel="lightbox[moviezen]" title="Layout Template A1" class="hide">Layout Template A1</a>
          | <a href="galleries/moviezen/moviezen-template-a2.png" rel="lightbox[moviezen]" title="Layout Template A2" class="hide">Layout Template A2</a>
          | <a href="galleries/moviezen/moviezen-template-b.png" rel="lightbox[moviezen]" title="Layout Template B" class="hide">Layout Template B</a>
          | <a href="galleries/moviezen/moviezen-template-c.png" rel="lightbox[moviezen]" title="Layout Template C" class="hide">Layout Template C</a>
          | <a href="galleries/moviezen/moviezen-template-d.png" rel="lightbox[moviezen]" title="Layout Template D" class="hide">Layout Template D</a>
          | <a href="galleries/moviezen/moviezen-template-d1.png" rel="lightbox[moviezen]" title="Layout Template D1" class="hide">Layout Template D1</a>
          | <a href="galleries/moviezen/moviezen-template-d2.png" rel="lightbox[moviezen]" title="Layout Template D2" class="hide">Layout Template D2</a>
          | <a href="galleries/moviezen/moviezen-example-01a.png" rel="lightbox[moviezen]" title="Layout Example 1A" class="hide">Layout Example 1A</a>
          | <a href="galleries/moviezen/moviezen-example-01b.png" rel="lightbox[moviezen]" title="Layout Example 1B" class="hide">Layout Example 1B</a>
          | <a href="galleries/moviezen/moviezen-example-01c.png" rel="lightbox[moviezen]" title="Layout Example 1C" class="hide">Layout Example 1C</a>
          | <a href="galleries/moviezen/moviezen-example-02a.png" rel="lightbox[moviezen]" title="Layout Example 2A" class="hide">Layout Example 2A</a>
          | <a href="galleries/moviezen/moviezen-example-02b.png" rel="lightbox[moviezen]" title="Layout Example 2B" class="hide">Layout Example 2B</a>
          | <a href="galleries/moviezen/moviezen-example-02c.png" rel="lightbox[moviezen]" title="Layout Example 2C" class="hide">Layout Example 2C</a>
          | <a href="galleries/moviezen/moviezen-example-03a.png" rel="lightbox[moviezen]" title="Layout Example 3A" class="hide">Layout Example 3A</a>
          | <a href="galleries/moviezen/moviezen-example-03b.png" rel="lightbox[moviezen]" title="Layout Example 3B" class="hide">Layout Example 3B</a>
          | <a href="galleries/moviezen/moviezen-example-03c.png" rel="lightbox[moviezen]" title="Layout Example 3C" class="hide">Layout Example 3C</a>
        dd Created large CSS framework and content management system in PHP and JS for producing layouts. <br /><br /> Visit website below for implementation example:
        dd.example <a href="http://www.moviezen.com/">MovieZen</a>
    section
      h1 Zenti (2010)
      // === Portfolio entry. ============
      dl
        dt <em>Wireframes for Desktop and Mobile</em>
        dd
          | <a href="galleries/zenti/zenti-twitanomoly-wireframe-20101117-02-A1.jpg" rel="lightbox[zenti]" title="Wireframe for Desktop and Mobile" class="gallery">Wireframe for Desktop and Mobile</a>
          | <a href="galleries/zenti/zenti-twitanomoly-wireframe-20101117-02-B1.jpg" rel="lightbox[zenti]" title="Wireframe with Animations" class="hide">Wireframe with Animations</a>
        dd Wireframed web and mobile application interface, consulted for implementation.
    section
      h1 Duffel (2010)
      // === Portfolio entry. ============
      dl
        dt <em>Wireframes and Designs</em>
        dd
          | <a href="galleries/duffel/dashboard-20100318-1.jpg" rel="lightbox[duffel]" title="Dashboard Wireframe" class="gallery">Duffel Work</a>
          | <a href="galleries/duffel/dashboard-A-20100329-1.jpg" rel="lightbox[duffel]" title="Dashboard Design 1" class="hide">Dashboard Design 1</a>
          | <a href="galleries/duffel/dashboard-A-20100329-2.jpg" rel="lightbox[duffel]" title="Dashboard Design 2" class="hide">Dashboard Design 2</a>
          | <a href="galleries/duffel/dashboard-A-20100402-1.jpg" rel="lightbox[duffel]" title="Dashboard Design 3" class="hide">Dashboard Design 3</a>
        dd Wireframed, designed and implemented HTML, CSS and Ruby on Rails views.
    section
      h1 Symbiosis (2010)
      // === Portfolio entry. ============
      dl
        dt <em>Personas, Sitemaps and Wireframes</em>
        dd
          | <a href="galleries/symbiosis/symbiosis-persona-emily-20101012-02.jpg" rel="lightbox[symbiosis]" title="Persona: Emily" class="gallery">Symbiosis Work</a>
          | <a href="galleries/symbiosis/symbiosis-persona-hiro-20101012-03.jpg" rel="lightbox[symbiosis]" title="Persona: Hiro" class="hide">Persona: Hiro</a>
          | <a href="galleries/symbiosis/symbiosis-persona-peter-20101012-02.jpg" rel="lightbox[symbiosis]" title="Persona: Peter" class="hide">Persona: Peter</a>
          | <a href="galleries/symbiosis/symbiosis-persona-ryan-20101012-03.jpg" rel="lightbox[symbiosis]" title="Persona: Ryan" class="hide">Persona: Ryan</a>
          | <a href="galleries/symbiosis/symbiosis-sitemap-20101014-01.jpg" rel="lightbox[symbiosis]" title="Sitemap 1" class="hide">Sitemap 1</a>
          | <a href="galleries/symbiosis/symbiosis-sitemap-20101020-01.jpg" rel="lightbox[symbiosis]" title="Sitemap 2" class="hide">Sitemap 2</a>
          | <a href="galleries/symbiosis/symbiosis-wireframe-homepage-20101113-01.jpg" rel="lightbox[symbiosis]" title="Wireframe: Homepage" class="hide">Wireframe: Homepage</a>
          | <a href="galleries/symbiosis/symbiosis-wireframe-mixes-20101113-01.jpg" rel="lightbox[symbiosis]" title="Wireframe: Mixes" class="hide">Wireframe: Mixes</a>
          | <a href="galleries/symbiosis/symbiosis-wireframe-articles-20101113-01.jpg" rel="lightbox[symbiosis]" title="Wireframe: Articles" class="hide">Wireframe: Articles</a>
          | <a href="galleries/symbiosis/symbiosis-wireframe-mix-20101113-01.jpg" rel="lightbox[symbiosis]" title="Wireframe: Mix" class="hide">Wireframe: Mix</a>
          | <a href="galleries/symbiosis/symbiosis-wireframe-article-20101113-01.jpg" rel="lightbox[symbiosis]" title="Wireframe: Article" class="hide">Wireframe: Article</a>
          | <a href="galleries/symbiosis/symbiosis-wireframe-contentList-20101113-01.jpg" rel="lightbox[symbiosis]" title="Wireframe: Content List" class="hide">Wireframe: Content List</a>
          | <a href="galleries/symbiosis/symbiosis-wireframe-about-20101113-01.jpg" rel="lightbox[symbiosis]" title="Wireframe: About" class="hide">Wireframe: About</a>
        dd Created user experience and graphic design.
    section
      h1 Isolina (2006)
      // === Portfolio entry. ============
      dl
        dt <em>Interactive Media Production</em>
        dd
          | <a href="galleries/isolina/isolina-install-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 1" class="gallery">Isolina Work</a>
          | <a href="galleries/isolina/isolina-install-02.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 2" class="hide">Isolina: Install 2</a>
          | <a href="galleries/isolina/isolina-install-03.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 3" class="hide">Isolina: Install 3</a>
          | <a href="galleries/isolina/isolina-install-04.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 4" class="hide">Isolina: Install 4</a>
          | <a href="galleries/isolina/isolina-install-05.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 5" class="hide">Isolina: Install 5</a>
          | <a href="galleries/isolina/isolina-seq-02.png" rel="lightbox[isolinaInstall]" title="Isolina: Sequence 1" class="hide">Isolina: Sequence 1</a>
          | <a href="galleries/isolina/isolina-seq-03.png" rel="lightbox[isolinaInstall]" title="Isolina: Sequence 2" class="hide">Isolina: Sequence 2</a>
          | <a href="galleries/isolina/isolina-story-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Story" class="hide">Isolina: Story</a>
          | <a href="galleries/isolina/isolina-render-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 1" class="hide">Isolina: Render 1</a>
          | <a href="galleries/isolina/isolina-render-02.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 2" class="hide">Isolina: Render 2</a>
          | <a href="galleries/isolina/isolina-render-03.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 3" class="hide">Isolina: Render 3</a>
          | <a href="galleries/isolina/isolina-render-04.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 4" class="hide">Isolina: Render 4</a>
          | <a href="galleries/isolina/isolina-install-00.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Installation" class="hide">Isolina: Installation</a>
        dd Managed and produced interactive art installation.
footer
  .revisions: em Updated 2 October 2011
  .copyright Copyright and confidential for each client 2012, Louis Rawlins
