header
  h1: a(href="http://louisrawlins.com/"): img(src="images/logotype-500_110.png", alt="Louis Rawlins", title="Louis Rawlins")
  nav
    ul
      li.active Portfolio
      li: a(href="http://www.linkedin.com/in/louisrawlins") LinkedIn
      li: a(href="/contact") Contact
#mainContent
  article
    section.comment
      p Hello! Thanks for stopping to view my work.
      p I hope you enjoy what I have to share. I've selected projects from my work as a <em>user experience designer and media artist.</em> 
      p If you have any questions, please drop me an email.
      p <em>Louis Rawlins,</em> <a href="mailto:email@louisrawlins.com">email@louisrawlins.com</a><br>
      small ALL WORK COPYRIGHT AND CONFIDENTIAL TO RESPECTIVE CLIENTS<br> AND EMPLOYERS

    section#quetzall.first
      h1 Quetzall (2012)
      // === Portfolio entry. ============
      dl.gallery#quetzall-ts
        dt.type <em>Interactive cloud- and sensor-based martial arts training app</em>
        dd.info <em>Role:</em> <span>Design lead</span>
        dd.info <em>Tech:</em> <span>Ruby, Sinatra, Node.js, socket.io, Git, SVG, Illustrator, Photoshop</span>
        dt <hr>
        dd.description Working with electrical engineers and martial artists, we created a mobile web experience for a sensor-based Taekwondo training app. The sensor, which attaches to a heavy punching bag in the gym, tracks the reaction time, accuracy, and force of hits and kicks. This feedback helps trainees in real-time and later, when they wish to review training sessions at home, on the mobile web, or in the gym. <br>I took this project from needs assessment to wireframes, then implemented an initial working web app.
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-01.jpg" rel="lightbox[ts]" title="User Experience 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-01.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-03.jpg" rel="lightbox[ts]" title="User Experience 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-03.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-04.jpg" rel="lightbox[ts]" title="User Experience 3"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-04.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-web-01.png" rel="lightbox[ts]" title="Initial Web App 1"><img style="height:100px;width:auto" class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-web-01.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-web-02.png" rel="lightbox[ts]" title="Initial Web App 2"><img style="height:100px;width:auto" class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-web-02.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-web-03.png" rel="lightbox[ts]" title="Initial Web App 3"><img style="height:100px;width:auto" class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-web-03.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-web-04.png" rel="lightbox[ts]" title="Initial Web App 4"><img style="height:100px;width:auto" class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-web-04.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-05.jpg" rel="lightbox[ts]" title="SVG and HTML"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-05.jpg" /></a>

    section#astrid
      h1 Astrid (2012)
      // === Portfolio entry. ============
      dl.gallery
        dt.type <em>Mobile and web social to-do list</em>
        dd.info <em>Role:</em> <span>Front-end engineer</span>
        dd.info <em>Tech:</em> <span>Ruby, Rails, Git, Haml, Sass, Photoshop</span>
        dt <hr>
        dd.description Implemented HTML/CSS, media queries, and modular layouts social to-do list web app. Beyond improving their front-end engineering process, I was exposed to <a href="http://www.betaful.com/2011/04/git-for-ongoing-collaboration/">a great workflow using Git</a> which has become my preferred source control system.
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-landing-320px.png" rel="lightbox[astrid]" title="Media Query (320px)"><img style="height:100px;width:auto" class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-landing-320px.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-landing-768px.png" rel="lightbox[astrid]" title="Media Query (768px)"><img style="height:100px;width:auto" class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-landing-768px.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-landing-1200px.png" rel="lightbox[astrid]" title="Media Query (1200px)"><img style="height:100px;width:auto" class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-landing-1200px.png" /></a><br>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-screen-01.png" rel="lightbox[astrid]" title="CSS Framework Improvement 1"><img style="height:100px;width:auto" class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-screen-01.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-screen-02.png" rel="lightbox[astrid]" title="CSS Framework Improvement 1"><img style="height:100px;width:auto" class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-screen-02.png" /></a>

    section#tpspac
      h1 The People's SuperPAC (2012)
      // === Portfolio entry. ============
      dl.gallery
        dt.type <em>Political advertising creation and publishing platform</em>
        dd.info <em>Role:</em> <span>Design consultant</span>
        dd.info <em>Tech:</em> <span>PHP, WordPress, drupal, Illustrator, Photoshop</span>
        dt <hr>
        dd.description Worked with client to build personas and user paths for a democratic approach to political advertising. Created testing framework inspired by <a href="https://chromium-build.appspot.com/p/chromium/console">integration testing</a> and <a href="https://github.com/visionmedia/should.js">behavior-driven development.</a>        
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/tpspac/tpspac-persona-marq.jpg" rel="lightbox[tpspac]" title="Persona"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/tpspac/tpspac-persona-marq.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/tpspac/tpspac-user_path-content_creation.png" rel="lightbox[tpspac]" title="User Path for Content Creation"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/tpspac/tpspac-user_path-content_creation.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/tpspac/tpspac-user_path-fundraising.png" rel="lightbox[tpspac]" title="User Path for Fundraising"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/tpspac/tpspac-user_path-fundraising.png" /></a>

    section#hadza
      h1 Hadza (2012)
      // === Portfolio entry. ============
      dl.gallery
        dt.type <em>Synchronized mobile media capture for events</em>
        dd.info <em>Role:</em> <span>User experience consultant</span>
        dd.info <em>Tech:</em> <span>Illustrator, Photoshop, Markers, Whiteboard</span>
        dt <hr>
        dd.description Held intensive design sessions with startup client to create a synchronized media experience for mobile and tablet. The personas, user stories, and wireframes created were not viable for production, but proved that upfront design can test assumptions quickly to ensure that ideas are worth the effort they take to produce.
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-design_session-01.jpg" rel="lightbox[hadza]" title="Design Session 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-design_session-01.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-design_session-02.jpg" rel="lightbox[hadza]" title="Design Session 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-design_session-02.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-stories.jpg" rel="lightbox[hadza]" title="User Stories"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-stories.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-wireframes-01.png" rel="lightbox[hadza]" title="Wireframes 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-wireframes-01.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-wireframes-02.png" rel="lightbox[hadza]" title="Wireframes 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-wireframes-02.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-wireframes-03.png" rel="lightbox[hadza]" title="Wireframes 3"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-wireframes-03.png" /></a>

    section#kp
      h1 Kaiser Permanente (2011)
      // === Portfolio comment. ============
      section.comment(style="display:none")
        p Working at the <a href="http://xnet.kp.org/innovationcenter/">Innovation Labs</a> to create prototypes for health care, my final project was a technology upgrade for mock hospital rooms at the Garfield Center.
        p I worked with external stakeholders to identify potential resources and collaborations for this project and I facilitated design sessions with my team members. I created sketches and a roadmap so we could visualize and produce component projects for the upgrade.
      // === Portfolio entry. ============
      dl#kp-prf.gallery
        dt.type <em>Patient room technology prototypes</em>
        dd.info <em>Role:</em> <span>Team lead</span>
        dd.info <em>Tech:</em> <span>Illustrator, InDesign, Word, PowerPoint</span>
        dt <hr>
        dd.description Coordinated design sessions and meetings with external stakeholders, defined project roadmap
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-01.jpg" rel="lightbox[patientRoom]" title="Patient Room: Roadmap 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-01.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-02.jpg" rel="lightbox[patientRoom]" title="Patient Room: Roadmap 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-02.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-03.jpg" rel="lightbox[patientRoom]" title="Patient Room: Roadmap 3"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-03.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-04.jpg" rel="lightbox[patientRoom]" title="Patient Room: Project 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-04.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-05.jpg" rel="lightbox[patientRoom]" title="Patient Room: Project 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-05.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-06.jpg" rel="lightbox[patientRoom]" title="Patient Room: Project 3"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-06.jpg" /></a>
      // === Portfolio comment. ============
      section.comment(style="display:none")
        p A fun and creative project, this arose from a request to create a digital signage experience for the Garfield Center, a showcase for innovation in health care technology. My colleagues and I took this initial request from an exploratory design session to a final bid for vendors to produce the interactive system.
      // === Portfolio entry. ============
      dl#kp-iat.gallery
        dt.type <em>Educational digital screen experience</em>
        dd.info <em>Role:</em> <span>Interaction designer</span>
        dd.info <em>Tech:</em> <span>Illustrator, InDesign, PowerPoint, Markers, Whiteboard</span>
        dt <hr>
        dd.description Hosted design session for multi-screen media experience to describe work of parent organization
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/digital_storytelling-02.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Persona"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/digital_storytelling-02.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/digital_storytelling-04.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Storyboards 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/digital_storytelling-04.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/digital_storytelling-06.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Storyboards 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/digital_storytelling-06.jpg" /></a>
      // === Portfolio comment. ============
      section.comment(style="display:none")
        p For a mobile app centered on health goals and motivation, I led front-end development. My team was comprised of myself, a design lead, and an engineering lead.
        p We used daily stand-ups to help us hit deadlines and manage scope successfully. Following the release of our mobile app prototype, we held informal user testing sessions.
      // === Portfolio entry. ============
      dl#kp-mc.gallery
        dt.type <em>Member care mobile app prototype</em>
        dd.info <em>Role:</em> <span>User experience designer and front-end engineer</span>
        dd.info <em>Tech:</em> <span>jQuery Mobile, PhoneGap, HBase, Java, Tomcat, Eclipse, SVN, HTML5, CSS 3</span>
        dt <hr>
        dd.description Implemented layouts with jQuery Mobile, HTML/CSS
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-screenshot-01.png" rel="lightbox[iosApp]" title="iOS App: Work-in-progress Screenshot 1"><img class="thumb noBorder" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-screenshot-01.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-screenshot-02.png" rel="lightbox[iosApp]" title="iOS App: Work-in-progress Screenshot 2"><img class="thumb noBorder" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-screenshot-02.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-screenshot-06.png" rel="lightbox[iosApp]" title="iOS App: Work-in-progress Screenshot 3"><img class="thumb noBorder" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-screenshot-06.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-01.jpg" rel="lightbox[iosApp]" title="iOS App: Persona"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-01.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-02.jpg" rel="lightbox[iosApp]" title="iOS App: Splash"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-02.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-03.jpg" rel="lightbox[iosApp]" title="iOS App: Sign up"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-03.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-06.jpg" rel="lightbox[iosApp]" title="iOS App: Actions 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-06.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-07.jpg" rel="lightbox[iosApp]" title="iOS App: Actions 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-07.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-08.jpg" rel="lightbox[iosApp]" title="iOS App: Actions 3"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-08.jpg" /></a>

    section#rose
      h1 Rose (Concept only, 2009)
      // === Portfolio comment. ============
      section.comment(style="display:none")
        p A story of movement and change and how the most well-intended life can be fascinating and strange to others because the past is always there, even when you're not sure you want it to be.
        p Rose is an animation based on a collaborative short story, and is in the early stages of planning and storyboarding.
        hr
        p If you like, <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm.mov">please watch video documentation from 2006.</a>
      // === Portfolio entry. ============
      dl.gallery
        dt.type <em>Short story and concept for animation</em>
        dd.info <em>Role:</em> <span>Lead artist, animator  </span>
        dd.info <em>Tech:</em> <span>Word processor, After Effects, Maya</span>
        dt <hr>
        dd.description Still planning.
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-001.png" rel="lightbox[roseAnimation]" title="Rose: Animation Draft 001"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-001.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-002.png" rel="lightbox[roseAnimation]" title="Rose: Animation Draft 002"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-002.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-003.png" rel="lightbox[roseAnimation]" title="Rose: Animation Draft 003"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-003.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-004.png" rel="lightbox[roseAnimation]" title="Rose: Animation Draft 004"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-004.png" /></a>

    section#sleep_patterns
      h1 sleep patterns: <br>a tactile sound interface for sleep. (2009)
      // === Portfolio comment. ============
      section.comment(style="display:none")
        p The experimental sound interface Sleep Patterns produces drones for sleeping in response to the movement of long hair-like threads on its surface. By combing, shifting and twisting these individual "hairs", varying tones and rhythmic patterns emerge. Inviting to the touch, the Sleep Patterns interface encourages interaction in the gallery and between participants.
        p The system is a supplement to sleep; a device that one can reach over and tussle until a pleasing drone is found, then fall peacefully back to sleep. The interface is a block with "hairs" of conductive thread as the major point of interaction.
      // === Portfolio entry. ============
      dl.gallery
        dt.type <em>Physical interactive media installation</em>
        dd.info <em>Role:</em> <span>Lead artist</span>
        dd.info <em>Tech:</em> <span>Conductive thread, MaxMSP and Jitter with custom wiring and hardware</span>
        dt <hr>
        dd.description Produced interactive sculpture as an "imperfect interface" where you could never count on reproducing the same response twice through the arrangement of hundreds of individual threads
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/sleep_patterns/sleep_patterns_small.jpg" rel="lightbox[sleep_patternsInstall]" title="Sleep Patterns"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/sleep_patterns/sleep_patterns_small.jpg" /></a>

    section#chai_labs
      h1 Chai Labs (2008)
      // === Portfolio comment. ============
      section.comment(style="display:none")
        p In my first gig working with technology outside of art or academics, <br>I was the 'CSS Guru' for this startup.
        p We came up with creative solutions using HTML and CSS to show alot of information to alot people.
        p In response to the need for many varied layouts, I built a content management system by creating a simple text parser. This system allowed me to track layouts and modules, and it let me switch between stylesheets for styling content on partner sites.
      // === Portfolio entry. ============
      dl.gallery
        dt.type <em>Vertical market websites</em>
        dd.info <em>Role:</em> <span>Front-end engineer</span>
        dd.info <em>Tech:</em> <span>PHP, XML, JavaScript, SVN, UNIX Shell</span>
        dd.info <em>See:</em> <span><a href="http://www.moviezen.com/">MovieZen</a></span>
        dd.info <em>See:</em> <span><a href="http://www.tripzen.com/">TripZen</a></span>
        dt <hr>
        dd.description Created XML and HTML snippet-based framework for modular HTML/CSS layout production and content management
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-template-d.png" rel="lightbox[moviezen]" title="Layout Template D"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-template-d.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-template-d2.png" rel="lightbox[moviezen]" title="Layout Template D2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-template-d2.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-template-a2.png" rel="lightbox[moviezen]" title="Layout Template A2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-template-a2.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-01a.png" rel="lightbox[moviezen]" title="Layout Example 1A"><img class="thumb noBorder" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-01a.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-01b.png" rel="lightbox[moviezen]" title="Layout Example 1B"><img class="thumb noBorder" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-01b.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-01c.png" rel="lightbox[moviezen]" title="Layout Example 1C"><img class="thumb noBorder" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-01c.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-02a.png" rel="lightbox[moviezen]" title="Layout Example 2A"><img class="thumb noBorder" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-02a.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-02b.png" rel="lightbox[moviezen]" title="Layout Example 2B"><img class="thumb noBorder" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-02b.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-02c.png" rel="lightbox[moviezen]" title="Layout Example 2C"><img class="thumb noBorder" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-02c.png" /></a>

    section#isolina
      h1 Isolina (2006)
      // === Portfolio comment. ============
      section.comment(style="display:none")
        p Before my work with web and mobile technologies, I dealt with complex interactions in the arts.
        p For my MFA thesis project, I wove a personal narrative around childhood illness with the short story format. Using sculpture, <br>video, as well as interactive hardware and software, I offered an environment for visitors to immerse themselves in the story.
        p My process is similar today, as it was for this project.
        p I worked with a small team to realize my vision. I created the main character Isolina <em>(a persona),</em> wrote her story <em>(a user story),</em> created prototypes, illustrations, and storyboards <em>(prototypes, wireframes, and user paths),</em> so I could communicate how the piece should be built and experienced <em>(implementation and product experience).</em>
        p For me, it's important to connect and tell stories.</em>
        p If you'd like, you can <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina_story.pdf">download the story here.</a>
        hr 
        h3 THEORETICAL MOTIVATIONS
        p As traumas fade and the past becomes distant, memories re-work themselves, fashion themselves into stories that uphold a sense of being at that moment.
        p Freedom to explore devoid of expectation or chronology, this installation presents itself as just being. There is a tree for playing or ignoring. A bench for sitting, a story to read. Marbles to play with, and a story to watch on the wall. These activities are available, but none are necessary.
        p The entire installation is based on a semi-biographical short story of my childhood, a childhood spent in illness (Figure 007).
        p My thoughts on growing up are generally unfocused, making it hard to pin-point exact happenings, memories, and sequences of events. As such, participants are offered an opportunity to experience my story through this lens.
        h3 TECHNICAL DISCUSSION
        p Participants are encouraged to do as they please with the installation. They can hang out at the shelf near the main installation or just sit on the bench next to the shelf (Figure 003). Alternatively, there is the option approach a sculptural tree to view a video within the wall (Figure 004, Figure 005). This screen plays illustrated scenes from the short story (Figure 002).
        p For the adventurous sort, there are marbles at the base of the tree (Figure 006). Arcing along a path near the base are a series of seven pits where marbles can rest. Within each pit is a light sensor that acts as a switch.
        p On approach, the video behind the tree shows a default scene (Figure 001). This image pulses to and from white in a breath-like manner to indicate that Isolina is waiting. Her story is yet to be told.
        p Placing marbles in the seven pits in specific orders, sequences scenes from the story on the wall (Figure 006). The placement of a marble in "pit one", then "pit three", then "pit five", then "pit two" would have the result of playing the first, third, fifth, then second scene, in sequence. Removing a marble from "pit three" removes it from the sequence and the first, fifth, then second scene play in order. Adding a new marble places that scene at the end. Thus adding a marble to "pit seven" causes the first, fifth, second, then seventh scene to play in this example.
        p Participants are allowed to enjoy combinatorially many options with the story, or simply sit and read the printed version of the story on the shelf nearby (Figure 003).
        h3 DOCUMENTATION
        p The reception of the piece was overwhelmingly mixed.
        p As the exhibition was large (with over eighty artists showing), the bench was frequently used. Most took the time to visit the installation and read the story, but many were reluctant to interact with the piece, as it required kneeling onto the floor to shoot marbles.
        p Some enjoyed making a game out of shooting the marbles into the hole, ignoring the sequencing aspect of the piece. However, those who enjoyed the connections between the environment, the illustration and the story connected with the piece very deeply.
      // === Portfolio entry. ============
      dl.gallery
        dt.type <em>Physical interactive media installation</em>
        dd.info <em>Role:</em> <span>Lead artist</span>
        dd.info <em>Tech:</em> <span>MaxMSP and Jitter with custom wiring and hardware, Illustrator, After Effects, InDesign, Maya</span>
        dt <hr>
        dd.description Authored and produced immersive storytelling exhibit
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-story-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Story"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-story-01.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-seq-02.png" rel="lightbox[isolinaInstall]" title="Isolina: Sequence 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-seq-02.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-seq-03.png" rel="lightbox[isolinaInstall]" title="Isolina: Sequence 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-seq-03.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-render-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-render-01.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-render-02.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-render-02.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-render-04.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 4"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-render-04.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-01.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-05.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 5"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-05.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-04.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 4"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-04.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-03.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 3"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-03.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-00.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Installation"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-00.jpg" /></a>

    section#non-linear
      h1 Non-linear [working title] (Concept only, 2005)
      // === Portfolio comment. ============
      section.comment(style="display:none")
        h3 THEORETICAL MOTIVATIONS
        p It's pretty apparent at this point, in our 'global' culture that less and less time is being paid to our surroundings. A side-effect of excess, no doubt, most gallery-goers can be seen flitting from piece to piece, nodding in appreciation, and speaking in muted tones, so as not to interrupt anyone else's viewing experience. This is my starting point.
        p This piece is made to be interrupted. It tells a story, visually, textually; but it does not invite quiet contemplation for the entire story. Quite contrary to the native gallery-goers instinct, the piece requires noise to tell you its story. It will not allow for peace -- though the story itself is sometimes peaceful -- it thrives on cellphones and loud talking, bumps and mis-interpreted meanings.
        h3 TECHNICAL DISCUSSION
        p This piece is meant as part of a group show, primarily with 'quiet' works such as photography and painting.
        p Ideally in front of a wall, six 8 inch LCD screens would be hung 60 inches above the floor (Figure 001).
        p Video on each screen appears to be both discrete and inter-related across all screens (Figure 002). Field audio plays from speakers within the screens, complementing the imagery. When users approach the screen, there is no immediate reaction from the video. But, noise of a certain loudness triggers a text overlay which appears as subtitling in white bars on the bottom of the screen (Figure 003, Figure 005).
        p The length of each video is staggered, no two are the same duration. This causes a cyclic relationship between any two movies. Though controlled, the effect is somewhat random, given a long enough duration. See Figure 004 for reference.
        h3 PROTOTYPES
        p Currently, storyboarding is under way for the narrative while a prototype application is being developed.
        p This application explores the functionality of the installation running with interaction via a mock-up 'voice actor', your own microphone, or no interaction at all (which allows for viewing of the entire narrative, un-interrupted). Much of this is for testing purposes, as reflected by the lack of video content. However, it should give a clear description of what to expect from any of the screens in the installation.
        p An example of video running with no interaction can be found with Figure 006. The colors in each scene correlate roughly with the colors in Figure 004.
        p Storyboarding and is now starting for a 3d animation of an opening sequence.
      // === Portfolio entry. ============
      dl.gallery
        dt.type <em>Concept for interactive media installation</em>
        dd.info <em>Role:</em> <span>Lead artist, prototyper</span>
        dd.info <em>Tech:</em> <span>Word processor, After Effects, Maya</span>
        dt <hr>
        dd.description Still planning.
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_fig_001.gif" rel="lightbox[nonLinearInstall]" title="Non-Linear: Figure 001"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_fig_001.gif" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_fig_002.gif" rel="lightbox[nonLinearInstall]" title="Non-Linear: Figure 002"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_fig_002.gif" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_fig_003.gif" rel="lightbox[nonLinearInstall]" title="Non-Linear: Figure 003"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_fig_003.gif" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_model.jpg" rel="lightbox[nonLinearInstall]" title="Non-Linear: Model Screen"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_model.jpg" /></a>

    section#diaspora
      h1 diaspora [working title] (2005)
      // === Portfolio comment. ============
      section.comment(style="display:none")
        h3 THEORETICAL MOTIVATIONS
        p A progression of feedback, from audio to video.
        p What began as visual exploration of the surrounding space and feedback, ultimately turned into a performance piece. Soft, rhythmic colors appear on the screen based on the motions of the performer, capturing the visual environment and layering it back onto itself.
        h3 TECHNICAL DISCUSSION
        p The first instance of 'diaspora' was as a self-contained image generator, to be accompanied by audio from the performer. This slowly changed until the project became a sort of 'Video Jockey' device to complement recordings.
        p As the original motivation was to include the environment -- both audible and visible -- sound playback capabilities were added again. The latest version of the piece takes a set of pre-recorded samples, and alters them based on the brightness and motion in the piece.
        h3 DOCUMENTATION
        p A performance from March 2005 at Rx Gallery in San Francisco. This is a montage of a video performance that was choreographed live to pre-recorded music.
        p <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_rx_doc_crop.mov">Rx Gallery performance.</a> (03:00, 37MB MOV)
        p Narrated documentation of the piece which describes the major components.
        p Music is by Tape, 'Return to ship'.
        p <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_descrip.mov">Visual description of performance.</a> (04:46, 30MB MOV)
        p An audio/video performance recorded for DVD. The sound is generated live along with the video, with samples taken from 'dispersal, residue' and pitch-altered with rules similar to that piece.
        p <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_small.mov">Screen render, with audio generation.</a> (04:31, 62MB MOV)
      // === Portfolio entry. ============
      dl.gallery
        dt.type <em>Video Performance and Installation</em>
        dd.info <em>Role:</em> <span>Lead artist, performer</span>
        dd.info <em>Tech:</em> <span>MaxMSP, Jitter, (2) iSight Cameras, Laptop</span>
        dd.info <em>See:</em> <span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_rx_doc_crop.mov">Rx Gallery performance</a> <small>(03:00, 37MB MOV)</small></span>
        dd.info <em>See:</em> <span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_descrip.mov">Visual description of performance</a> <small>(04:46, 30MB MOV)</small></span>
        dd.info <em>See:</em> <span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_small.mov">Screen render, with audio generation</a> <small>(04:31, 62MB MOV)</small></span>
        dt <hr>
        dd.description See above links for video documentation.
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_rx_doc_crop_still.jpg" rel="lightbox[diasporaPerformance]" title="diaspora: Performance at RX Gallery in SF still"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_rx_doc_crop_still.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_descrip.jpg" rel="lightbox[diasporaPerformance]" title="diaspora: Description of process still"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_descrip.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_small_still.jpg" rel="lightbox[diasporaPerformance]" title="diaspora: Screen render still"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_small_still.jpg" /></a>

    section#dispersal_residue
      h1 dispersal_residue [working title] (2005)
      // === Portfolio comment. ============
      section.comment(style="display:none")
        h3 THEORETICAL MOTIVATIONS
        p Originally conceived and performed as an audience participation piece, this installation is the culmination of work dealing with the feedback of the surrounding environment.
        p A benign object exists in the middle of the room, humming and lowing. Once the audience creates a noise, the piece responds with altered versions of the same. Sound is passed from the user to the environment, to the machine and back out again in a natural cycle.
        p The piece is one of self-awareness and play.
        h3 TECHNICAL DISCUSSION
        p The programming for 'dispersal, residue' exploits the idea of cyclic groups overlapping to create ordered randomness; that is, a highly-complex system. A low hum of 60-61Hz provides a backdrop for the audience. This is then picked up and fed into a bank of sixteen samples, which constantly record in one-minute intervals (3.75 second samples * 16 = 1 minute). There are parameters controlling the selection of each sample, which is pitch-altered and panned with values corresponding to different 'subsets' of the Fibonacci Numbers. The subsets are generated at regular intervals, and act as the only consistent part of the piece. The result however, is perceivably random, controlled only by the surrounding sounds.
        h3 DOCUMENTATION
        p The installation in various uses. First with a group of roughly twenty students, then with separate individuals.
        p <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/dispersal_residue/dpr_doc_sm.mov">Room-Scale Installation.</a> (03:40, 49MB MOV)
      // === Portfolio entry. ============
      dl.gallery
        dt.type <em>Sound Installation</em>
        dd.info <em>Role:</em> <span>Lead artist</span>
        dd.info <em>Tech:</em> <span>MaxMSP, Four-channel audio system</span>
        dd.info <em>See:</em> <span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/dispersal_residue/dpr_doc_sm.mov">Video of Room-Scale Installation</a> <small>(03:40, 49MB MOV)</small></span>
        dt <hr>
        dd.description See above links for video documentation.
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/dispersal_residue/dpr_doc_sm_still.jpg" rel="lightbox[dispersalResidueInstall]" title="dispersal, residue: Installation still"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/dispersal_residue/dpr_doc_sm_still.jpg" /></a>


footer
  .revisions: em Updated January 27, 2013
  .copyright <small>ALL WORK COPYRIGHT AND CONFIDENTIAL TO RESPECTIVE CLIENTS AND EMPLOYERS</small> <br> 2013, <a href="mailto:email@louisrawlins.com">Louis Rawlins</a>
