header
  h1: a(href="http://louisrawlins.com/"): img(src="images/logotype-500_110.png", alt="Louis Rawlins", title="Louis Rawlins")
  nav
    ul
      li: a(href="http://louisrawlins.com/blog") Blog
      li.active Portfolio
      li: a(href="http://louisrawlins.com/resume") Resume
      li: a(href="http://louisrawlins.com/contact") Contact
#mainContent
  article
    section.comment
      h2 User experience, front-end engineering, and interactive media work
      p Hey there. Thanks for stopping by to check out my work.
      p This portfolio is specifically for the review of Kaiser Permanente and the Mobile Center of Excellence during June of 2012. It is a selection of projects commented with an orientation to questions you might have. What you see here is considered copyright and confidential for each of my clients.<br><br>
      p Enjoy, and have a nice day!
      p <em>Louis Rawlins,</em> <a href="mailto:email@louisrawlins.com">email@louisrawlins.com</a><br>
    section.comment
      p Each selection has information for <em>Tech</em>, <em>Role</em>, and <em>See</em> which gives you an idea of the technology stack used on that project, my role within that stack, and (if available) a live example.
    section.comment
      p If you would like to view this portfolio on GitHub, please go here:<br><a href="https://github.com/louisrawlins/portfolio">github.com/louisrawlins/portfolio</a>
      
      
      // === Portfolio comment. ============
      section.comment
        p Current work on a democratic approach to politcal advertising campaigns. Here is the persona we are using with user paths that will be used for development of the system -- kinda like an integration test, similar to behavior-driven development -- my process is always an experiment in improvement.
        
        
        
      // === Portfolio comment. ============
      section.comment
        p An energetic design session and culminating wireframes to give an idea of my working process. This work was produced after an initial meeting a week prior, then a long one-day session of sketching out ideas and looking over past wireframes.
        p The startup unfortunately folded, but the ideas developed during this time were worthwhile and exciting. It's all part of the process. This is the reason we do design upfront -- to see if idea are valid and worth following-through with engineering effort.
      
      
    section#quetzall.first
      h1 Quetzall (2012)
      // === Portfolio comment. ============
      section.comment
        p Wireframes and initial implementation in SVG and JS, as well as a Sinatra app running a barebones interface reflecting a graphic designers work.
      // === Portfolio comment. ============
      section.comment
        p If you would like to view this portfolio on GitHub, please go here:<br><a href="https://github.com/louisrawlins/portfolio">github.com/louisrawlins/portfolio</a>
      // === Portfolio entry. ============
      dl.gallery#quetzall-ts
        dt <em>Design lead for interactive cloud- and sensor-based martial arts training app</em>
        dd Created wireframes, HTML/CSS/JS and SVG
        dd.detail Tech: <em>Ruby, Sinatra, Node.js, socket.io, Git, SVG, Illustrator, Photoshop</em>
        dd
          | <a href="galleries/quetzall/quetzall-ts-rough-01.jpg" rel="lightbox[ts]" title="Rough User Experience 1"><img class="thumb" src="galleries/quetzall/quetzall-ts-rough-01.jpg" /></a>
          | <a href="galleries/quetzall/quetzall-ts-rough-02.jpg" rel="lightbox[ts]" title="Rough User Experience 2"><img class="thumb" src="galleries/quetzall/quetzall-ts-rough-02.jpg" /></a>
          | <a href="galleries/quetzall/quetzall-ts-01.jpg" rel="lightbox[ts]" title="User Experience 1"><img class="thumb" src="galleries/quetzall/quetzall-ts-01.jpg" /></a>
          | <a href="galleries/quetzall/quetzall-ts-02.jpg" rel="lightbox[ts]" title="User Experience 2"><img class="thumb" src="galleries/quetzall/quetzall-ts-02.jpg" /></a>
          | <a href="galleries/quetzall/quetzall-ts-03.jpg" rel="lightbox[ts]" title="User Experience 3"><img class="thumb" src="galleries/quetzall/quetzall-ts-03.jpg" /></a>
          | <a href="galleries/quetzall/quetzall-ts-04.jpg" rel="lightbox[ts]" title="User Experience 4"><img class="thumb" src="galleries/quetzall/quetzall-ts-04.jpg" /></a>
          | <a href="galleries/quetzall/quetzall-ts-05.jpg" rel="lightbox[ts]" title="SVG and HTML"><img class="thumb" src="galleries/quetzall/quetzall-ts-05.jpg" /></a>

    section#astrid
      h1 Astrid (2012)
      // === Portfolio comment. ============
      section.comment
        p Front-end engineering using media queries on Rails with Haml and Sass.
      // === Portfolio entry. ============
      dl.gallery
        dt <em>Front-end engineer for social to-do list</em>
        dd Implemented HTML/CSS
        dd.detail Tech: <em>Ruby, Rails, Git, Haml, Sass, Photoshop</em>
        dd.example <a href="http://astrid.com/">Astrid</a>
        dd
          | <a href="galleries/astrid/astrid-landing-320px.png" rel="lightbox[astrid]" title="Media Query (320px)"><img style="height:100px;width:auto" class="thumb" src="galleries/astrid/astrid-landing-320px.png" /></a>
          | <a href="galleries/astrid/astrid-landing-768px.png" rel="lightbox[astrid]" title="Media Query (768px)"><img style="height:100px;width:auto" class="thumb" src="galleries/astrid/astrid-landing-768px.png" /></a>
          | <a href="galleries/astrid/astrid-landing-1200px.png" rel="lightbox[astrid]" title="Media Query (1200px)"><img style="height:100px;width:auto" class="thumb" src="galleries/astrid/astrid-landing-1200px.png" /></a><br>
          | <a href="galleries/astrid/astrid-screen-01.png" rel="lightbox[astrid]" title="CSS Framework Improvement 1"><img style="height:100px;width:auto" class="thumb" src="galleries/astrid/astrid-screen-01.png" /></a>
          | <a href="galleries/astrid/astrid-screen-02.png" rel="lightbox[astrid]" title="CSS Framework Improvement 1"><img style="height:100px;width:auto" class="thumb" src="galleries/astrid/astrid-screen-02.png" /></a>
    section#kp
      h1 Kaiser Permanente (2011)
      // === Portfolio comment. ============
      section.comment
        p A huge projects, I helped lead my team in the Innovation Labs to assess and specify equipment as well as round out the intent and operation of pojects.
      // === Portfolio entry. ============
      dl#kp-prf.gallery
        dt <em>Team lead for patient room technology prototypes</em>
        dd Coordinated design sessions and meetings with external stakeholders, defined project roadmap
        dd.detail Tech: <em>Illustrator, InDesign, Word, PowerPoint</em>
        dd
          | <a href="galleries/kp/patient_room-01.jpg" rel="lightbox[patientRoom]" title="Patient Room: Roadmap 1"><img class="thumb" src="galleries/kp/patient_room-01.jpg" /></a>
          | <a href="galleries/kp/patient_room-02.jpg" rel="lightbox[patientRoom]" title="Patient Room: Roadmap 2"><img class="thumb" src="galleries/kp/patient_room-02.jpg" /></a>
          | <a href="galleries/kp/patient_room-03.jpg" rel="lightbox[patientRoom]" title="Patient Room: Roadmap 3"><img class="thumb" src="galleries/kp/patient_room-03.jpg" /></a>
          | <a href="galleries/kp/patient_room-04.jpg" rel="lightbox[patientRoom]" title="Patient Room: Project 1"><img class="thumb" src="galleries/kp/patient_room-04.jpg" /></a>
          | <a href="galleries/kp/patient_room-05.jpg" rel="lightbox[patientRoom]" title="Patient Room: Project 2"><img class="thumb" src="galleries/kp/patient_room-05.jpg" /></a>
          | <a href="galleries/kp/patient_room-06.jpg" rel="lightbox[patientRoom]" title="Patient Room: Project 3"><img class="thumb" src="galleries/kp/patient_room-06.jpg" /></a>
      // === Portfolio comment. ============
      section.comment
        p Digital screens. I'm already thinking about how Kaiser can interact with users on digital screens, inside and outside of facilities. This is where I see one of the convergence points for mobile.
      // === Portfolio entry. ============
      dl#kp-iat.gallery
        dt <em>Interactive designer for educational interactive media</em>
        dd Hosted design session for multi-screen media experience to describe work of parent organization
        dd.detail Tech: <em>Illustrator, InDesign, PowerPoint</em>
        dd
          | <a href="galleries/kp/digital_storytelling-01.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Persona 1"><img class="thumb" src="galleries/kp/digital_storytelling-01.jpg" /></a>
          | <a href="galleries/kp/digital_storytelling-02.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Persona 2"><img class="thumb" src="galleries/kp/digital_storytelling-02.jpg" /></a>
          | <a href="galleries/kp/digital_storytelling-03.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Persona 3"><img class="thumb" src="galleries/kp/digital_storytelling-03.jpg" /></a>
          | <a href="galleries/kp/digital_storytelling-04.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Storyboards 1"><img class="thumb" src="galleries/kp/digital_storytelling-04.jpg" /></a>
          | <a href="galleries/kp/digital_storytelling-05.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Storyboards 2"><img class="thumb" src="galleries/kp/digital_storytelling-05.jpg" /></a>
          | <a href="galleries/kp/digital_storytelling-06.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Storyboards 3"><img class="thumb" src="galleries/kp/digital_storytelling-06.jpg" /></a>
      // === Portfolio comment. ============
      section.comment
        p I supported user experience and engineering working primarily on the front-end and user testing.
      // === Portfolio entry. ============
      dl#kp-mc.gallery
        dt <em>User experience designer and front-end engineer for member care mobile app</em>
        dd Implemented layouts with jQuery Mobile, HTML/CSS
        dd.detail Tech: <em>jQuery Mobile, PhoneGap, HBase, Java, Tomcat, Eclipse, SVN, HTML5, CSS 3</em>
        dd
          | <a href="galleries/kp/ios-app-01.jpg" rel="lightbox[iosApp]" title="iOS App: Persona"><img class="thumb" src="galleries/kp/ios-app-01.jpg" /></a>
          | <a href="galleries/kp/ios-app-02.jpg" rel="lightbox[iosApp]" title="iOS App: Splash"><img class="thumb" src="galleries/kp/ios-app-02.jpg" /></a>
          | <a href="galleries/kp/ios-app-03.jpg" rel="lightbox[iosApp]" title="iOS App: Sign up 1"><img class="thumb" src="galleries/kp/ios-app-03.jpg" /></a>
          | <a href="galleries/kp/ios-app-04.jpg" rel="lightbox[iosApp]" title="iOS App: Sign up 2"><img class="thumb" src="galleries/kp/ios-app-04.jpg" /></a>
          | <a href="galleries/kp/ios-app-05.jpg" rel="lightbox[iosApp]" title="iOS App: Sign up 3"><img class="thumb" src="galleries/kp/ios-app-05.jpg" /></a>
          | <a href="galleries/kp/ios-app-06.jpg" rel="lightbox[iosApp]" title="iOS App: Actions 1"><img class="thumb" src="galleries/kp/ios-app-06.jpg" /></a>
          | <a href="galleries/kp/ios-app-07.jpg" rel="lightbox[iosApp]" title="iOS App: Actions 2"><img class="thumb" src="galleries/kp/ios-app-07.jpg" /></a>
          | <a href="galleries/kp/ios-app-08.jpg" rel="lightbox[iosApp]" title="iOS App: Actions 3"><img class="thumb" src="galleries/kp/ios-app-08.jpg" /></a>
          | <a href="galleries/kp/ios-app-09.jpg" rel="lightbox[iosApp]" title="iOS App: Photos 1"><img class="thumb" src="galleries/kp/ios-app-09.jpg" /></a>
          | <a href="galleries/kp/ios-app-10.jpg" rel="lightbox[iosApp]" title="iOS App: Photos 2"><img class="thumb" src="galleries/kp/ios-app-10.jpg" /></a>
          | <a href="galleries/kp/ios-app-11.jpg" rel="lightbox[iosApp]" title="iOS App: Profile"><img class="thumb" src="galleries/kp/ios-app-11.jpg" /></a>
      // === Portfolio comment. ============
      section.comment
        p As an introduction to working with Kaiser, this still stands as the most challenging project I've worked on. I learned alot as a result.
      // === Portfolio entry. ============
      dl#kp-stat.gallery
        dt <em>Design lead for specimen tracking app</em>
        dd Created wireframes and documentation, performed ethnographic research, implemented layouts with ExtJS, HTML/CSS
        dd.detail Tech: <em>ExtJS, Java, Tomcat, Eclipse, hg</em>
        dd
          | <a href="galleries/kp/stat-layouts-20110224-03-01.jpg" rel="lightbox[webApp]" title="Web Application: Wireframe 1"><img class="thumb" src="galleries/kp/stat-layouts-20110224-03-01.jpg" /></a>
          | <a href="galleries/kp/stat-layouts-20110224-03-02.jpg" rel="lightbox[webApp]" title="Web Application: Wireframe 2"><img class="thumb" src="galleries/kp/stat-layouts-20110224-03-02.jpg" /></a>
          | <a href="galleries/kp/stat-layouts-20110224-03-03.jpg" rel="lightbox[webApp]" title="Web Application: Wireframe 3"><img class="thumb" src="galleries/kp/stat-layouts-20110224-03-03.jpg" /></a>
          | <a href="galleries/kp/stat-layouts-20110224-03-04.jpg" rel="lightbox[webApp]" title="Web Application: Wireframe 4"><img class="thumb" src="galleries/kp/stat-layouts-20110224-03-04.jpg" /></a>
          | <a href="galleries/kp/stat-layouts-20110224-03-05.jpg" rel="lightbox[webApp]" title="Web Application: Wireframe 5"><img class="thumb" src="galleries/kp/stat-layouts-20110224-03-05.jpg" /></a><br>
          | <a href="galleries/kp/stat-site_visits-20110301-01-01.jpg" rel="lightbox[webApp]" title="Web Application: Documentation 1"><img class="thumb" src="galleries/kp/stat-site_visits-20110301-01-01.jpg" /></a>
          | <a href="galleries/kp/stat-site_visits-20110301-01-02.jpg" rel="lightbox[webApp]" title="Web Application: Documentation 1"><img class="thumb" src="galleries/kp/stat-site_visits-20110301-01-02.jpg" /></a>
    section#chai_labs
      h1 Chai Labs (MovieZen, 2008)
      // === Portfolio comment. ============
      section.comment
        p After studying computer science, I looked for ways to apply my skills.
        p This project allowed me to contribute to a startup and create a framework to speed-up my own work, but it also gave me time to simultaneously work with a media arts organization in San Francisco, releasing music and planning events in the city and internationally.
      // === Portfolio entry. ============
      dl.gallery
        dt <em>Front-end engineer for vertical market websites</em>
        dd Created large CSS framework and content management system in PHP and JS for producing layouts. Implementation example below.
        dd.detail Tech: <em>PHP, XML, JavaScript, SVN, UNIX Shell</em>
        dd.example <a href="http://www.moviezen.com/">MovieZen</a>
        dd
          | <a href="galleries/moviezen/moviezen-template-a.png" rel="lightbox[moviezen]" title="Layout Template A"><img class="thumb" src="galleries/moviezen/moviezen-template-a.png" /></a>
          | <a href="galleries/moviezen/moviezen-template-a1.png" rel="lightbox[moviezen]" title="Layout Template A1"><img class="thumb" src="galleries/moviezen/moviezen-template-a1.png" /></a>
          | <a href="galleries/moviezen/moviezen-template-a2.png" rel="lightbox[moviezen]" title="Layout Template A2"><img class="thumb" src="galleries/moviezen/moviezen-template-a2.png" /></a>
          | <a href="galleries/moviezen/moviezen-template-d.png" rel="lightbox[moviezen]" title="Layout Template D"><img class="thumb" src="galleries/moviezen/moviezen-template-d.png" /></a>
          | <a href="galleries/moviezen/moviezen-template-d1.png" rel="lightbox[moviezen]" title="Layout Template D1"><img class="thumb" src="galleries/moviezen/moviezen-template-d1.png" /></a>
          | <a href="galleries/moviezen/moviezen-template-d2.png" rel="lightbox[moviezen]" title="Layout Template D2"><img class="thumb" src="galleries/moviezen/moviezen-template-d2.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-01a.png" rel="lightbox[moviezen]" title="Layout Example 1A"><img class="thumb" src="galleries/moviezen/moviezen-example-01a.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-01b.png" rel="lightbox[moviezen]" title="Layout Example 1B"><img class="thumb" src="galleries/moviezen/moviezen-example-01b.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-01c.png" rel="lightbox[moviezen]" title="Layout Example 1C"><img class="thumb" src="galleries/moviezen/moviezen-example-01c.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-02a.png" rel="lightbox[moviezen]" title="Layout Example 2A"><img class="thumb" src="galleries/moviezen/moviezen-example-02a.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-02b.png" rel="lightbox[moviezen]" title="Layout Example 2B"><img class="thumb" src="galleries/moviezen/moviezen-example-02b.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-02c.png" rel="lightbox[moviezen]" title="Layout Example 2C"><img class="thumb" src="galleries/moviezen/moviezen-example-02c.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-03a.png" rel="lightbox[moviezen]" title="Layout Example 3A"><img class="thumb" src="galleries/moviezen/moviezen-example-03a.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-03b.png" rel="lightbox[moviezen]" title="Layout Example 3B"><img class="thumb" src="galleries/moviezen/moviezen-example-03b.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-03c.png" rel="lightbox[moviezen]" title="Layout Example 3C"><img class="thumb" src="galleries/moviezen/moviezen-example-03c.png" /></a>
    section#isolina
      h1 Isolina (2006)
      // === Portfolio comment. ============
      section.comment
        p Before I worked with mobile and web technologies, I dealt with complex interactions through media art -- installation, performance pieces using audio, video, hardware, and software. In fact, prior to smartphones in their current incarnation (the release of the iPhone in 2006), I was already considering many of the problems.
        p My process has not changed much from this project. For user experience, I still create a persona (Isolina), a user story (<a href="galleries/isolina/isolina-story-01.jpg" rel="lightbox[isolinaInline]" title="Isolina: Story">short story</a>), a user path (<a href="galleries/isolina/isolina-seq-02.png" rel="lightbox[isolinaInline]" title="Isolina: Sequence 1">storyboards and illustrations</a>), and then I use this information to consider how I will build the system (<a href="galleries/isolina/isolina-install-01.jpg" rel="lightbox[isolinaInline]" title="Isolina: Install 1">the entire experience and installation</a>).
      // === Portfolio entry. ============
      dl.gallery
        dt <em>Lead artist for physical media interactive installation</em>
        dd Authored and produced immersive storytelling exhibit
        dd.detail Tech: <em>MaxMSP and Jitter with custom wiring and hardware, Illustrator, After Effects, InDesign, Maya</em>
        dd
          | <a href="galleries/isolina/isolina-install-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 1"><img class="thumb" src="galleries/isolina/isolina-install-01.jpg" /></a>
          | <a href="galleries/isolina/isolina-install-02.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 2"><img class="thumb" src="galleries/isolina/isolina-install-02.jpg" /></a>
          | <a href="galleries/isolina/isolina-install-03.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 3"><img class="thumb" src="galleries/isolina/isolina-install-03.jpg" /></a>
          | <a href="galleries/isolina/isolina-install-04.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 4"><img class="thumb" src="galleries/isolina/isolina-install-04.jpg" /></a>
          | <a href="galleries/isolina/isolina-install-05.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 5"><img class="thumb" src="galleries/isolina/isolina-install-05.jpg" /></a><br>
          | <a href="galleries/isolina/isolina-story-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Story"><img class="thumb" src="galleries/isolina/isolina-story-01.jpg" /></a>
          | <a href="galleries/isolina/isolina-seq-02.png" rel="lightbox[isolinaInstall]" title="Isolina: Sequence 1"><img class="thumb" src="galleries/isolina/isolina-seq-02.png" /></a>
          | <a href="galleries/isolina/isolina-seq-03.png" rel="lightbox[isolinaInstall]" title="Isolina: Sequence 2"><img class="thumb" src="galleries/isolina/isolina-seq-03.png" /></a>
          | <a href="galleries/isolina/isolina-render-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 1"><img class="thumb" src="galleries/isolina/isolina-render-01.jpg" /></a>
          | <a href="galleries/isolina/isolina-render-02.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 2"><img class="thumb" src="galleries/isolina/isolina-render-02.jpg" /></a>
          | <a href="galleries/isolina/isolina-render-03.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 3"><img class="thumb" src="galleries/isolina/isolina-render-03.jpg" /></a>
          | <a href="galleries/isolina/isolina-render-04.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 4"><img class="thumb" src="galleries/isolina/isolina-render-04.jpg" /></a>
          | <a href="galleries/isolina/isolina-install-00.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Installation"><img class="thumb" src="galleries/isolina/isolina-install-00.jpg" /></a>
footer
  .revisions: em Updated 04 June 2012
  .copyright All materials copyright and confidential for each client<br> 2012, <a href="mailto:email@louisrawlins.com">Louis Rawlins</a>
