header
  h1: a(href="http://louisrawlins.com/"): img(src="images/logotype-500_110.png", alt="Louis Rawlins", title="Louis Rawlins")
  nav
    ul
      li: a(href="http://louisrawlins.com/blog") Blog
      li.active Portfolio
      li: a(href="http://louisrawlins.com/resume") Resume
      li: a(href="http://louisrawlins.com/contact") Contact
#mainContent
  article
    section.comment
      h1 User experience, front-end engineering, and interactive media work
      p Hi. Thanks for stopping by.
      p This portfolio is a selection of my work for the review by the Mobile Center of Excellence at Kaiser Permanente during June of 2012.
      p My work spans a few disciplines with the overarching theme that I use computing technology to make people happier and more aware of themselves. In my comments, I try to address potential questions related to mobile devices and health care.
      p Also, please remember that everything you see here is considered copyright and confidential to my clients.
      p Enjoy browsing, and have a great day.
      p <em>Louis Rawlins,</em> <a href="mailto:email@louisrawlins.com">email@louisrawlins.com</a><br>
    section.comment
      h2 Legend
      p Each section has information for <em>Role</em>, <em>Tech</em>, and <em>See</em> which give you an idea of my capacity as a team member on that project, the technology stack used, and a live example, if available.
    section.comment
      h2 GitHub
      p If you would like to view the source of this portfolio, please go here:<br><a href="https://github.com/louisrawlins/portfolio">github.com/louisrawlins/portfolio</a>

    section#tpspac.first
      h1 The People's SuperPAC (2012)
      // === Portfolio comment. ============
      section.comment
        p A democratic approach to political advertising, The People's SuperPAC seeks to create a platform where all citizens can create politcal messages and have access to major media channels.
        p For this project started last month, I consult and help guide implementation. We are using personas and user paths, to start development with measurable results for user interactions. This methodology is an evolving approach for me, inspired by <a href="https://chromium-build.appspot.com/p/chromium/console">integration testing</a> and <a href="https://github.com/visionmedia/should.js">behavior-driven development.</a>        
      // === Portfolio entry. ============
      dl.gallery
        dt <em>Poltical advertising creation and publishing platorm</em>
        dd.info <em>Role:</em> <span>Design Consultant</span>
        dd.info <em>Tech:</em> <span>PHP, WordPress, drupal, Illustrator, Photoshop</span>
        dt <hr>
        dd Created personas and user paths, advise on implementation strategy
        dt <hr>
        dd
          | <a href="galleries/tpspac/tpspac-persona-marq.jpg" rel="lightbox[tpspac]" title="Persona"><img class="thumb" src="galleries/tpspac/tpspac-persona-marq.jpg" /></a>
          | <a href="galleries/tpspac/tpspac-user_path-content_creation.png" rel="lightbox[tpspac]" title="User Path for Content Creation"><img class="thumb" src="galleries/tpspac/tpspac-user_path-content_creation.png" /></a>
          | <a href="galleries/tpspac/tpspac-user_path-fundraising.png" rel="lightbox[tpspac]" title="User Path for Fundraising"><img class="thumb" src="galleries/tpspac/tpspac-user_path-fundraising.png" /></a>

    section#hadza
      h1 Hadza (2012)
      // === Portfolio comment. ============
      section.comment



        <!-- !!! EDIT !!! -->
        <!-- !!! EDIT !!! -->
        <!-- !!! EDIT !!! -->
        p This was an exciting project centered on synchronized video capture and playback. Sadly, this concept was ahead of its time, and the startup has disbanded since April.
        p After meeting for an hour introduction to understand the product, a week later we met again for a design session to produce wireframes. It was exceptionally fruitful, sketching out ideas for mobile (tablet and phone) as well as rough web app interfaces. In addition to creating a persona and three main user stories, we also began staging development based on technical feasibility.
        p Though this project has not carried on in this present form, I found this experience to be a testament to the experience design process. This is why we design upfront -- to explore ideas. To see if what we think is a great app is valid and worth following through with engineering effort.
      // === Portfolio entry. ============
      dl.gallery
        dt <em>Synchronized mobile media capture for events</em>
        dd.info <em>Role:</em> <span>User experience Consultant</span>
        dd.info <em>Tech:</em> <span>Illustrator, Photoshop, Markers, Whiteboard</span>
        dt <hr>
        dd Created persona, user stories, and rough wireframes
        dt <hr>
        dd
          | <a href="galleries/hadza/hadza-design_session-01.jpg" rel="lightbox[hadza]" title="Design Session 1"><img class="thumb" src="galleries/hadza/hadza-design_session-01.jpg" /></a>
          | <a href="galleries/hadza/hadza-design_session-02.jpg" rel="lightbox[hadza]" title="Design Session 2"><img class="thumb" src="galleries/hadza/hadza-design_session-02.jpg" /></a>
          | <a href="galleries/hadza/hadza-stories.jpg" rel="lightbox[hadza]" title="User Stories"><img class="thumb" src="galleries/hadza/hadza-stories.jpg" /></a>
          | <a href="galleries/hadza/hadza-wireframes-01.png" rel="lightbox[hadza]" title="Wireframes 1"><img class="thumb" src="galleries/hadza/hadza-wireframes-01.png" /></a>
          | <a href="galleries/hadza/hadza-wireframes-02.png" rel="lightbox[hadza]" title="Wireframes 2"><img class="thumb" src="galleries/hadza/hadza-wireframes-02.png" /></a>
          | <a href="galleries/hadza/hadza-wireframes-03.png" rel="lightbox[hadza]" title="Wireframes 3"><img class="thumb" src="galleries/hadza/hadza-wireframes-03.png" /></a>
      
    section#quetzall
      h1 Quetzall (2012)
      // === Portfolio comment. ============
      section.comment



        <!-- !!! EDIT !!! -->
        <!-- !!! EDIT !!! -->
        <!-- !!! EDIT !!! -->
        p Wireframes and initial implementation in SVG and JS, as well as a Sinatra app running a barebones interface reflecting a graphic designers work.
      // === Portfolio entry. ============
      dl.gallery#quetzall-ts
        dt <em>Interactive cloud- and sensor-based martial arts training app</em>
        dd.info <em>Role:</em> <span>Design lead</span>
        dd.info <em>Tech:</em> <span>Ruby, Sinatra, Node.js, socket.io, Git, SVG, Illustrator, Photoshop</span>
        dt <hr>
        dd Created wireframes, HTML/CSS/JS and SVG prototype
        dt <hr>
        dd
          | <a href="galleries/quetzall/quetzall-ts-01.jpg" rel="lightbox[ts]" title="User Experience 1"><img class="thumb" src="galleries/quetzall/quetzall-ts-01.jpg" /></a>
          | <a href="galleries/quetzall/quetzall-ts-03.jpg" rel="lightbox[ts]" title="User Experience 2"><img class="thumb" src="galleries/quetzall/quetzall-ts-03.jpg" /></a>
          | <a href="galleries/quetzall/quetzall-ts-04.jpg" rel="lightbox[ts]" title="User Experience 3"><img class="thumb" src="galleries/quetzall/quetzall-ts-04.jpg" /></a>
          | <a href="galleries/quetzall/quetzall-ts-05.jpg" rel="lightbox[ts]" title="SVG and HTML"><img class="thumb" src="galleries/quetzall/quetzall-ts-05.jpg" /></a>

    section#astrid
      h1 Astrid (2012)
      // === Portfolio comment. ============
      section.comment



        <!-- !!! EDIT !!! -->
        <!-- !!! EDIT !!! -->
        <!-- !!! EDIT !!! -->
        p Front-end engineering using media queries on Rails with Haml and Sass.
      // === Portfolio entry. ============
      dl.gallery
        dt <em>Mobile and web social to-do list</em>
        dd.info <em>Role:</em> <span>Front-end engineer</span>
        dd.info <em>Tech:</em> <span>Ruby, Rails, Git, Haml, Sass, Photoshop</span>
        dd.info <em>See:</em> <span><a href="http://astrid.com/">Astrid</a></span>
        dt <hr>
        dd Implemented HTML/CSS, media queries, and modular layouts
        dt <hr>
        dd
          | <a href="galleries/astrid/astrid-landing-320px.png" rel="lightbox[astrid]" title="Media Query (320px)"><img style="height:100px;width:auto" class="thumb" src="galleries/astrid/astrid-landing-320px.png" /></a>
          | <a href="galleries/astrid/astrid-landing-768px.png" rel="lightbox[astrid]" title="Media Query (768px)"><img style="height:100px;width:auto" class="thumb" src="galleries/astrid/astrid-landing-768px.png" /></a>
          | <a href="galleries/astrid/astrid-landing-1200px.png" rel="lightbox[astrid]" title="Media Query (1200px)"><img style="height:100px;width:auto" class="thumb" src="galleries/astrid/astrid-landing-1200px.png" /></a><br>
          | <a href="galleries/astrid/astrid-screen-01.png" rel="lightbox[astrid]" title="CSS Framework Improvement 1"><img style="height:100px;width:auto" class="thumb" src="galleries/astrid/astrid-screen-01.png" /></a>
          | <a href="galleries/astrid/astrid-screen-02.png" rel="lightbox[astrid]" title="CSS Framework Improvement 1"><img style="height:100px;width:auto" class="thumb" src="galleries/astrid/astrid-screen-02.png" /></a>

    section#kp
      h1 Kaiser Permanente (2011)
      // === Portfolio comment. ============
      section.comment



        <!-- !!! EDIT !!! -->
        <!-- !!! EDIT !!! -->
        <!-- !!! EDIT !!! -->
        p A huge projects, I helped lead my team in the Innovation Labs to assess and specify equipment as well as round out the intent and operation of projects.
      // === Portfolio entry. ============
      dl#kp-prf.gallery
        dt <em>Patient room technology prototypes</em>
        dd.info <em>Role:</em> <span>Team lead</span>
        dd.info <em>Tech:</em> <span>Illustrator, InDesign, Word, PowerPoint</span>
        dt <hr>
        dd Coordinated design sessions and meetings with external stakeholders, defined project roadmap
        dt <hr>
        dd
          | <a href="galleries/kp/patient_room-01.jpg" rel="lightbox[patientRoom]" title="Patient Room: Roadmap 1"><img class="thumb" src="galleries/kp/patient_room-01.jpg" /></a>
          | <a href="galleries/kp/patient_room-02.jpg" rel="lightbox[patientRoom]" title="Patient Room: Roadmap 2"><img class="thumb" src="galleries/kp/patient_room-02.jpg" /></a>
          | <a href="galleries/kp/patient_room-03.jpg" rel="lightbox[patientRoom]" title="Patient Room: Roadmap 3"><img class="thumb" src="galleries/kp/patient_room-03.jpg" /></a>
          | <a href="galleries/kp/patient_room-04.jpg" rel="lightbox[patientRoom]" title="Patient Room: Project 1"><img class="thumb" src="galleries/kp/patient_room-04.jpg" /></a>
          | <a href="galleries/kp/patient_room-05.jpg" rel="lightbox[patientRoom]" title="Patient Room: Project 2"><img class="thumb" src="galleries/kp/patient_room-05.jpg" /></a>
          | <a href="galleries/kp/patient_room-06.jpg" rel="lightbox[patientRoom]" title="Patient Room: Project 3"><img class="thumb" src="galleries/kp/patient_room-06.jpg" /></a>
      // === Portfolio comment. ============
      section.comment



        <!-- !!! EDIT !!! -->
        <!-- !!! EDIT !!! -->
        <!-- !!! EDIT !!! -->
        p Digital screens. I'm already thinking about how Kaiser can interact with users on digital screens, inside and outside of facilities. This is where I see one of the convergence points for mobile.
      // === Portfolio entry. ============
      dl#kp-iat.gallery
        dt <em>Educational digital screen experience</em>
        dd.info <em>Role:</em> <span>Interaction designer</span>
        dd.info <em>Tech:</em> <span>Illustrator, InDesign, PowerPoint, Markers, Whiteboard</span>
        dt <hr>
        dd Hosted design session for multi-screen media experience to describe work of parent organization
        dt <hr>
        dd
          | <a href="galleries/kp/digital_storytelling-02.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Persona"><img class="thumb" src="galleries/kp/digital_storytelling-02.jpg" /></a>
          | <a href="galleries/kp/digital_storytelling-04.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Storyboards 1"><img class="thumb" src="galleries/kp/digital_storytelling-04.jpg" /></a>
          | <a href="galleries/kp/digital_storytelling-06.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Storyboards 2"><img class="thumb" src="galleries/kp/digital_storytelling-06.jpg" /></a>
      // === Portfolio comment. ============
      section.comment



        <!-- !!! EDIT !!! -->
        <!-- !!! EDIT !!! -->
        <!-- !!! EDIT !!! -->
        p I supported user experience and engineering working primarily on the front-end and user testing.
      // === Portfolio entry. ============
      dl#kp-mc.gallery
        dt <em>Member care mobile app prototype</em>
        dd.info <em>Role:</em> <span>User experience designer and front-end engineer</span>
        dd.info <em>Tech:</em> <span>jQuery Mobile, PhoneGap, HBase, Java, Tomcat, Eclipse, SVN, HTML5, CSS 3</span>
        dt <hr>
        dd Implemented layouts with jQuery Mobile, HTML/CSS
        dt <hr>
        dd
          | <a href="galleries/kp/ios-app-screenshot-01.png" rel="lightbox[iosApp]" title="iOS App: Process Screenshot 1"><img class="thumb" src="galleries/kp/ios-app-screenshot-01.png" /></a>
          | <a href="galleries/kp/ios-app-screenshot-02.png" rel="lightbox[iosApp]" title="iOS App: Process Screenshot 2"><img class="thumb" src="galleries/kp/ios-app-screenshot-02.png" /></a>
          | <a href="galleries/kp/ios-app-screenshot-03.png" rel="lightbox[iosApp]" title="iOS App: Process Screenshot 3"><img class="thumb" src="galleries/kp/ios-app-screenshot-03.png" /></a>
          | <a href="galleries/kp/ios-app-screenshot-04.png" rel="lightbox[iosApp]" title="iOS App: Process Screenshot 4"><img class="thumb" src="galleries/kp/ios-app-screenshot-04.png" /></a>
          | <a href="galleries/kp/ios-app-screenshot-05.png" rel="lightbox[iosApp]" title="iOS App: Process Screenshot 5"><img class="thumb" src="galleries/kp/ios-app-screenshot-05.png" /></a>
          | <a href="galleries/kp/ios-app-screenshot-06.png" rel="lightbox[iosApp]" title="iOS App: Process Screenshot 6"><img class="thumb" src="galleries/kp/ios-app-screenshot-06.png" /></a>
          | <a href="galleries/kp/ios-app-01.jpg" rel="lightbox[iosApp]" title="iOS App: Persona"><img class="thumb" src="galleries/kp/ios-app-01.jpg" /></a>
          | <a href="galleries/kp/ios-app-02.jpg" rel="lightbox[iosApp]" title="iOS App: Splash"><img class="thumb" src="galleries/kp/ios-app-02.jpg" /></a>
          | <a href="galleries/kp/ios-app-03.jpg" rel="lightbox[iosApp]" title="iOS App: Sign up 1"><img class="thumb" src="galleries/kp/ios-app-03.jpg" /></a>
          | <a href="galleries/kp/ios-app-06.jpg" rel="lightbox[iosApp]" title="iOS App: Actions 1"><img class="thumb" src="galleries/kp/ios-app-06.jpg" /></a>
          | <a href="galleries/kp/ios-app-07.jpg" rel="lightbox[iosApp]" title="iOS App: Actions 2"><img class="thumb" src="galleries/kp/ios-app-07.jpg" /></a>
          | <a href="galleries/kp/ios-app-08.jpg" rel="lightbox[iosApp]" title="iOS App: Actions 3"><img class="thumb" src="galleries/kp/ios-app-08.jpg" /></a>
      // === Portfolio comment. ============
      section.comment



        <!-- !!! EDIT !!! -->
        <!-- !!! EDIT !!! -->
        <!-- !!! EDIT !!! -->
        p This was my first and potentially most challenging project working at the Innovation Labs.
        p I came on late to a struggling project and helped put together documentation and alternative application interfaces, as seen below. Ultimately, our client wanted a barebones enterprise application, as shown in the first set of diagrams. I learned alot from this project in terms of working with internal stakeholders and management within Kaiser.
      // === Portfolio entry. ============
      dl#kp-stat.gallery
        dt <em>Specimen tracking app prototype</em>
        dd.info <em>Role:</em> <span>Design lead</span>
        dd.info <em>Tech:</em> <span>ExtJS, Java, Tomcat, Eclipse, hg, Illustrator</span>
        dt <hr>
        dd Created wireframes and documentation, performed ethnographic research, implemented layouts with ExtJS, HTML/CSS
        dt <hr>
        dd
          | <a href="galleries/kp/stat-docs-login.jpg" rel="lightbox[webApp]" title="Documentation: Login"><img class="thumb" src="galleries/kp/stat-docs-login.jpg" /></a>
          | <a href="galleries/kp/stat-docs-location.jpg" rel="lightbox[webApp]" title="Documentation: Location"><img class="thumb" src="galleries/kp/stat-docs-location.jpg" /></a>
          | <a href="galleries/kp/stat-docs-specimen_type.jpg" rel="lightbox[webApp]" title="Documentation: Location"><img class="thumb" src="galleries/kp/stat-docs-specimen_type.jpg" /></a>
          | <a href="galleries/kp/stat-layouts-20110224-03-01.jpg" rel="lightbox[webApp]" title="Mobile Web Application: Wireframe 1"><img class="thumb" src="galleries/kp/stat-layouts-20110224-03-01.jpg" /></a>
          | <a href="galleries/kp/stat-layouts-20110224-03-04.jpg" rel="lightbox[webApp]" title="Mobile Web Application: Wireframe 2"><img class="thumb" src="galleries/kp/stat-layouts-20110224-03-04.jpg" /></a>
          | <a href="galleries/kp/stat-layouts-20110224-03-05.jpg" rel="lightbox[webApp]" title="Mobile Web Application: Wireframe 3"><img class="thumb" src="galleries/kp/stat-layouts-20110224-03-05.jpg" /></a><br>
          | <a href="galleries/kp/stat-site_visits-20110301-01-01.jpg" rel="lightbox[webApp]" title="Web Application: Documentation 1"><img class="thumb" src="galleries/kp/stat-site_visits-20110301-01-01.jpg" /></a>
          | <a href="galleries/kp/stat-site_visits-20110301-01-02.jpg" rel="lightbox[webApp]" title="Web Application: Documentation 1"><img class="thumb" src="galleries/kp/stat-site_visits-20110301-01-02.jpg" /></a>

    section#chai_labs
      h1 Chai Labs (MovieZen, 2008)
      // === Portfolio comment. ============
      section.comment
        p My first gig working with technology outside of art or academics, I was considered the 'CSS Guru' for Chai Labs.
        p This project was also my first exposure working with startups. I worked remotely for a year and a half with about eight people (based in Mountain View). I interfaced directly with the CEO and a lead engineer, coming up with creative solutions using HTML and CSS for showing large amounts of information to alot people.
      // === Portfolio entry. ============
      dl.gallery
        dt <em>Consumer web, vertical market websites</em>
        dd.info <em>Role:</em> <span>Front-end engineer</span>
        dd.info <em>Tech:</em> <span>PHP, XML, JavaScript, SVN, UNIX Shell</span>
        dd.info <em>See:</em> <span><a href="http://www.moviezen.com/">MovieZen</a></span>
        dd.info <em>See:</em> <span><a href="http://www.tripzen.com/">TripZen</a></span>
        dt <hr>
        dd Created XML and HTML snippet-based framework for modular HTML/CSS layout production and content management
        dt <hr>
        dd
          | <a href="galleries/moviezen/moviezen-template-d.png" rel="lightbox[moviezen]" title="Layout Template D"><img class="thumb" src="galleries/moviezen/moviezen-template-d.png" /></a>
          | <a href="galleries/moviezen/moviezen-template-d2.png" rel="lightbox[moviezen]" title="Layout Template D2"><img class="thumb" src="galleries/moviezen/moviezen-template-d2.png" /></a>
          | <a href="galleries/moviezen/moviezen-template-a2.png" rel="lightbox[moviezen]" title="Layout Template A2"><img class="thumb" src="galleries/moviezen/moviezen-template-a2.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-01a.png" rel="lightbox[moviezen]" title="Layout Example 1A"><img class="thumb" src="galleries/moviezen/moviezen-example-01a.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-01b.png" rel="lightbox[moviezen]" title="Layout Example 1B"><img class="thumb" src="galleries/moviezen/moviezen-example-01b.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-01c.png" rel="lightbox[moviezen]" title="Layout Example 1C"><img class="thumb" src="galleries/moviezen/moviezen-example-01c.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-02a.png" rel="lightbox[moviezen]" title="Layout Example 2A"><img class="thumb" src="galleries/moviezen/moviezen-example-02a.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-02b.png" rel="lightbox[moviezen]" title="Layout Example 2B"><img class="thumb" src="galleries/moviezen/moviezen-example-02b.png" /></a>
          | <a href="galleries/moviezen/moviezen-example-02c.png" rel="lightbox[moviezen]" title="Layout Example 2C"><img class="thumb" src="galleries/moviezen/moviezen-example-02c.png" /></a>

    section#isolina
      h1 Isolina (2006)
      // === Portfolio comment. ============
      section.comment
        p Before my work with mobile and web technologies, I considered and implemented complex interactions in an fine arts context. This is my MFA thesis project.
        p Based on personal experience, I wove a narrative around childhood illness using the short story format with sculpture, video, and custom hardware and software.
        p My process is similar today, as it was for this project.
        p I worked with a small team to realize my vision. I created the main character Isolina <em>(a persona),</em> wrote her story <em>(a user story),</em> created prototypes, illustrations, and storyboards <em>(prototypes, wireframes, and user paths),</em> so I could communicate how the piece should be built and experienced <em>(implementation and product experience).</em>
      // === Portfolio entry. ============
      dl.gallery
        dt <em>Physical media interactive installation</em>
        dd.info <em>Role:</em> <span>Lead artist</span>
        dd.info <em>Tech:</em> <span>MaxMSP and Jitter with custom wiring and hardware, Illustrator, After Effects, InDesign, Maya</span>
        dt <hr>
        dd Authored and produced immersive storytelling exhibit
        dt <hr>
        dd
          | <a href="galleries/isolina/isolina-story-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Story"><img class="thumb" src="galleries/isolina/isolina-story-01.jpg" /></a>
          | <a href="galleries/isolina/isolina-seq-02.png" rel="lightbox[isolinaInstall]" title="Isolina: Sequence 1"><img class="thumb" src="galleries/isolina/isolina-seq-02.png" /></a>
          | <a href="galleries/isolina/isolina-seq-03.png" rel="lightbox[isolinaInstall]" title="Isolina: Sequence 2"><img class="thumb" src="galleries/isolina/isolina-seq-03.png" /></a>
          | <a href="galleries/isolina/isolina-render-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 1"><img class="thumb" src="galleries/isolina/isolina-render-01.jpg" /></a>
          | <a href="galleries/isolina/isolina-render-02.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 2"><img class="thumb" src="galleries/isolina/isolina-render-02.jpg" /></a>
          | <a href="galleries/isolina/isolina-render-04.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 4"><img class="thumb" src="galleries/isolina/isolina-render-04.jpg" /></a>
          | <a href="galleries/isolina/isolina-install-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 1"><img class="thumb" src="galleries/isolina/isolina-install-01.jpg" /></a>
          | <a href="galleries/isolina/isolina-install-05.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 5"><img class="thumb" src="galleries/isolina/isolina-install-05.jpg" /></a>
          | <a href="galleries/isolina/isolina-install-04.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 4"><img class="thumb" src="galleries/isolina/isolina-install-04.jpg" /></a>
          | <a href="galleries/isolina/isolina-install-03.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 3"><img class="thumb" src="galleries/isolina/isolina-install-03.jpg" /></a>
          | <a href="galleries/isolina/isolina-install-00.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Installation"><img class="thumb" src="galleries/isolina/isolina-install-00.jpg" /></a>
footer
  .revisions: em Updated 16 June 2012
  .copyright All materials copyright and confidential for each client<br> 2012, <a href="mailto:email@louisrawlins.com">Louis Rawlins</a>
