doctype html
html
  head
    meta(name="description", content="Louis Rawlins")
    meta(name="keywords", content="Art,Design,Technology,Engineering,Education")
    meta(name="author", content="Louis Rawlins")
    meta(name="viewport", content="width=500, height=500")
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="css/base.css", type="text/css", media="all")
    link(rel="stylesheet", href="css/jquery.lightbox-0.5.css", type="text/css", media="screen")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script window.jQuery || document.write('<script src="js/lib/jquery-1.9.0.min.js"><\\/script>')
    script(src="js/lib/jquery.lightbox-0.5.min.js", type="text/javascript")
    script(src='js/main.js')
  body!= body